{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/si{% endblock language_switch_url %}

{% block custom_page_javascript %}
    <script src="{% static 'si/facets.js' %}"></script>
    <script src="{% static 'open_data/od_search.js' %}"></script>
{% endblock custom_page_javascript %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/si",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Search Service Inventory" %}</h1>
{% endblock %}
<section>
    <p class="gc-byline">{% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}
        {% endif %}
    </p>
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            {% block main-content-content %}
            <section>
                <div class="row">
                {% autoescape off %}
                {% for alert in alerts %}
                    <div class="alert alert-info">{% trans alert %}</div>
                {% endfor %}
                {% endautoescape %}
                </div>
                <form action="{% url 'SIQuery' %}" id="search_form" method="get" role="form" class="mrgn-bttm-md fofm-inline">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                             <p>{% blocktrans with result_num=results.hits|apnumber result_s=results.hits|pluralize %}Found {{result_num}} record{{result_s}}{% endblocktrans %}</p>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <div class="input-group">
                                <label for="od-search-input" class="wb-inv">{% trans 'Search' %}</label>
                                <input type="text" name="od-search-input" class="form-control" id="od-search-input"
                                       value="{{ search_text | safe }}" placeholder="{% trans 'Search' %}"
                                       onkeypress="submitFormOnEnter(event)" />

                                <span class="input-group-btn">
                                     <label for="od-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                     <button type="button" class="btn btn-primary btn-small form-submit" id="od-search-button"
                                            onclick="submitForm()">{% trans 'Search' %}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="input-group">
                            <select class="form-control" name="sort-by" id="sort-by" value="{{sortby}}" onchange="submitForm();">
                            {% if LANGUAGE_CODE == 'fr' %}
                                <option value="score desc" {% if sortby == "score desc" %}selected="selected"{% endif %}
                                    >{% trans 'Best match' %}</option>
                                <option value="program_name_fr_s asc" {% if sortby == "program_name_fr_s asc" %}selected="selected"{% endif %}
                                    >{% trans 'Program' %}</option>
                                <option value="service_name_fr_s asc" {% if sortby == "service_name_fr_s asc" %}selected="selected"{% endif %}
                                    >{% trans 'Service' %}</option>
                            {% else %}
                                <option value="score desc" {% if sortby == "score desc" %}selected="selected"{% endif %}
                                    >Best match</option>
                                <option value="program_name_en_s asc" {% if sortby == "program_name_en_s asc" %}selected="selected"{% endif %}
                                    >Program</option>
                                <option value="service_name_en_s asc" {% if sortby == "service_name_en_s asc" %}selected="selected"{% endif %}
                                    >Service</option>
                            {% endif %}
                            </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-push-9 col-sm-6 col-sm-push-6">
                            <label for="sort-by" class="control-label">{% trans 'Order By' %}</label>
                        </div>

                        <div class="input-group hidden">
                            {# Facet fields -- start #}
                            <div class="col-md-1">
                                <input type="text" name="page" class="form-control" id="page" value="{{currentpage}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="search_terms">
                        </div>
                    </div>
                </form>
            </section>
            <section>
            {% for doc in results.docs %}
            <div class="panel panel-default mrg-tp-sm">
                 <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">
                                {% if LANGUAGE_CODE == 'en' %}
                                    <a href="{{ si_dv_path }}{{ doc.new_service_id_s }}">
                                    {{ doc.service_name_txt_en | safe }}</a>
                                {% else %}
                                     <a href="{{ si_dv_path }}{{ doc.new_service_id_s }}">
                                    {{ doc.service_name_txt_fr | safe }}</a>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="{{ si_dv_path }}{{ doc.new_service_id_s }}" class="btn btn-success btn-xs" role="button">{% trans 'Performance Dashboard' %}</a>
                        </div>

                        <div class="col-sm-12">
                        {% if LANGUAGE_CODE == 'fr' %}
                            <p>{% if doc.service_description_txt_fr %}
                            {{ doc.service_description_txt_fr | safe }}<br>
                            {% endif %}
                            <strong>{% trans 'Organization' %}</strong>: {{ doc.owner_org_title_txt_fr }}<br>
                            <details>
                                <summary>{% trans 'Details' %}</summary>
                                <strong>{% trans 'Program' %}</strong> : {{ doc.program_name_txt_fr | safe }}<br>
                                <strong>{% trans 'Authority' %}</strong> : {{ doc.authority_txt_fr }}<br>
                                {% if doc.service_url_fr_s|length > 0 %}
                                    <strong>{% trans 'URL to Service' %}</strong>: <a href="{{ doc.service_url_fr_s }}" target="_blank">{{ doc.service_url_fr_s }}</a><br>
                                    {% endif %}
                                <strong>{% trans 'Client/Target Groups' %}</strong> :
                                    <ul>{% for tg in doc.client_target_groups_fr_s %}
                                        <li>{{ tg }}</li>
                                        {% endfor %}
                                    </ul>
                            </details></p>

                        {% else %}
                            <p>{% if doc.service_description_txt_en %}
                            {{ doc.service_description_txt_en | safe }}<br>
                            {% endif %}
                            <strong>Organization</strong>: {{ doc.owner_org_title_txt_en }}<br>
                            <details>
                                <summary>Details</summary>
                                <strong>Program</strong>: {{ doc.program_name_txt_en | safe }}<br>
                                <strong>Authority</strong>: {{ doc.authority_txt_en }}<br>
                                {% if doc.service_url_en_s|length > 0 %}
                                    <strong>URL to Service</strong>: <a href="{{ doc.service_url_en_s }}" target="_blank">{{ doc.service_url_en_s }}</a><br>
                                    {% endif %}
                                <strong>Client/Target Groups</strong>:
                                    <ul>{% for tg in doc.client_target_groups_en_s %}
                                        <li>{{ tg }}</li>
                                        {% endfor %}
                                    </ul>
                            </details></p>
                        {% endif %}
                        </div>
                     </div>

                </div>
            </div>
            {% endfor %}
                </section>
            {% block main-content-pagination %}
            <section>
                <ul class="pagination">
                    {% for pg in pagination %}
                        {% if pg == 1 %}
                            {% if currentpage == 1 %}
                            <li class="previous disabled"><a href="#" rel="prev">{% trans 'Previous' %}</a></li>
                            {% else %}
                            <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">
                            {% trans 'Previous' %} <span class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                            {% endif %}
                            <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#" onclick="gotoPage('1')">
                                1<span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% elif pg == last_page %}
                            <li{% if currentpage == last_page %} class="active" {% endif %}><a
                                    href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}
                                <span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% if currentpage == last_page %}
                            <li class="next disabled"><a href="#" rel="next">{% trans 'Next' %}</a></li>
                            {% else %}
                            <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">
                                {% trans 'Next' %} <span
                                        class="wb-inv">Go to page {{ next_page }}</span></a></li>
                            {% endif %}
                        {% elif pg == 0 %}
                        <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                        {% else %}
                        <li {% if currentpage == pg %}class="active" {% endif %}>
                            <a href="#" onclick="gotoPage('{{ pg }}')">
                                {{ pg }} <span
                                        class="wb-inv">Go to page {{pg}}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
        {% endblock %}
        </div>
        <div class="col-md-4 col-md-pull-8">
            {% block main-content-sidebar %}
            <aside class="mrgn-tp-lg">
                <div class="btn-block">
                    <div>
                        <a onclick="clear_facets();" href="#" class="btn btn-default mrgn-bttm-md btn-block"><span
                            class="glyphicon glyphicon-refresh"></span> {% trans 'Clear all choices' %}</a>
                    </div>
                    {% if export_terms != "" %}
                    <!-- Not implemented yet
                    <div>
                        <a onclick="" href="{{ export_url }}" class="btn btn-default mrgn-bttm-md btn-block"><span
                                class="glyphicon glyphicon-download-alt"></span> {% trans 'Download Results' %}</a>
                    </div>
                    -->
                    {% endif %}
                </div>
                <div class="list-group">
                {% if LANGUAGE_CODE == 'fr' %}
                    <a href="{{ od_fr_url }}/{{ si_ds_id }}" class="list-group-item list-group-item-info text-center">{{ si_ds_title_fr }}</a>
                {% else %}
                    <a href="{{ od_en_url }}/{{ si_ds_id }}" class="list-group-item list-group-item-info text-center">{{ si_ds_title_en }}</a>
                {% endif %}
                </div>
            </aside>
            <aside>
                {# Organizations Facet #}
                <div>
                    <details class="panel panel-default mrgn-bttm-0" {% if organizations_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Organization' %}</h5>
                        </summary>
                        <ul class="list-group" id="org-list">

                        {% if LANGUAGE_CODE == 'fr' %}

                            {% for k, v in org_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k }}', 'si-search-orgs')" value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in org_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k }}', 'si-search-orgs')" value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if LANGUAGE_CODE == 'fr' %}{{ org_facets_fr | EmptyFacetMessage }}{% else %}{{ org_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Year Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if years_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Year' %}</h5>
                        </summary>
                        <ul class="list-group">
                            {% for k, v in fiscal_year.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in years_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in year_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-year')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ fiscal_year | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# External/Internal Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if xis_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'External/Internal' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in xis_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in xis_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in xis_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-ext-int')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in xis_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in xis_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in xis_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-ext-int')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ xis_facets_fr | EmptyFacetMessage }}{% else %}{{ xis_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Service Type #}

                    <details class="panel panel-default mrgn-bttm-0" {% if stypes_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Service Type' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in stype_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in stypes_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in stypes_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-service-type')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in stype_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in stypes_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in stypes_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-service-type')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ stype_facets_fr | EmptyFacetMessage }}{% else %}{{ stype_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Special Designations #}

                    <details class="panel panel-default mrgn-bttm-0" {% if designations_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Special Designations' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in designation_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in designations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in designations_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-designations')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in designation_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in designations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in designations_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-designations')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ designation_facets_fr | EmptyFacetMessage }}{% else %}{{ designation_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Client Target Groups #}

                    <details class="panel panel-default mrgn-bttm-0" {% if targets_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Client Target Groups' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in targets_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in targets_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in targets_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-target-groups')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in targets_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in targets_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in targets_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-target-groups')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ targets_facets_fr | EmptyFacetMessage }}{% else %}{{ targets_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# 'si-search-service-fee' #}

                    <details class="panel panel-default mrgn-bttm-0" {% if fees_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Service Fees' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in fees_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in fees_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in fees_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-service-fee')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in fees_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in fees_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in fees_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-service-fee')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ fees_facets_fr | EmptyFacetMessage }}{% else %}{{ fees_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# 'si-search-cra-number' #}

                    <details class="panel panel-default mrgn-bttm-0" {% if cra_no_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'CRA Business Number Used' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in cra_no_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in cra_no_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in cra_no_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-cra-number')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in cra_no_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in cra_no_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in cra_no_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-cra-number')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ cra_no_facets_fr | EmptyFacetMessage }}{% else %}{{ cra_no_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# E-Registrations #}

                    <details class="panel panel-default mrgn-bttm-0" {% if e_reg_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'E-Registrations' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in e_reg_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_reg_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_reg_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-reg')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in e_reg_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_reg_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_reg_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-reg')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ e_reg_facets_fr | EmptyFacetMessage }}{% else %}{{ e_reg_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# E-Authentications #}

                    <details class="panel panel-default mrgn-bttm-0" {% if e_authenticate_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'E-Authentication' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in e_authenticate_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_authenticate_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_authenticate_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-authenticate')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in e_authenticate_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_authenticate_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_authenticate_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-authenticate')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ e_authenticate_facets_fr | EmptyFacetMessage }}{% else %}{{ e_authenticate_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# 'E-Decision' #}

                    <details class="panel panel-default mrgn-bttm-0" {% if e_decision_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'E-Decision' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in e_decision_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_decision_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_decision_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-decision')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in e_decision_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_decision_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_decision_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-decision')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ e_decision_facets_fr | EmptyFacetMessage }}{% else %}{{ e_decision_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# 'si-search-e-issuance' #}

                    <details class="panel panel-default mrgn-bttm-0" {% if e_issuance_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'E-Issuance' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in e_issuance_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_issuance_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_issuance_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-issuance')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in e_issuance_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_issuance_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_issuance_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-issuance')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ e_issuance_facets_fr | EmptyFacetMessage }}{% else %}{{ e_issuance_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                 {# 'E-Feedback' #}

                    <details class="panel panel-default mrgn-bttm-0" {% if e_feedback_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'E-Feedback' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in e_feedback_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_feedback_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_feedback_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-feedback')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in e_feedback_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in e_feedback_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in e_feedback_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'si-search-e-feedback')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ e_feedback_facets_fr | EmptyFacetMessage }}{% else %}{{ e_feedback_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                </div>
            </aside>
            {% endblock %}
        </div>

    </div>

</section>
{% endblock %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
"footerSections": [{
    "href": "{% trans '/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
},{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
},{
    "href": "{% trans '/en/user' %}",
    "text": "{% trans 'Open Government Log In' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
}],
"showFeatures": false
{% endblock %}
{% block custom-jquery %}
<script src="{% static 'open_data/od_facet_buttons.js' %}"></script>
{% endblock %}
