Babel==2.7.0
bleach==3.1.4
certifi==2019.3.9
chardet==3.0.4
click==7.0
Django==2.2.16
django-analytical==2.5.0
django-debug-toolbar==1.11
django-markdown-filter==0.0.1
django-redis-cache==2.1.1
email-validator==1.1.1
idna==2.8
Markdown==3.2
markdown2==2.3.9
nltk==3.4.5
pysolr==3.8.1
python-dateutil==2.8.0
python-memcached==1.59
pytz==2018.9
PyYAML==5.2
redis==3.5.3
requests==2.25.0
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
urllib3==1.26.2
uWSGI==2.0.19.1; sys_platform == 'linux'
webencodings==0.5.1