{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/gc{% endblock language_switch_url %}

{% block custom_page_javascript %}
    <script src="{% static 'gc/facets.js' %}"></script>
    <script src="{% static 'open_data/od_search.js' %}"></script>
{% endblock custom_page_javascript %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/gc",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    },{
        "title": "{% trans 'Open Information' %}",
        "href": "{% trans 'https://open.canada.ca/en/open-information' %}",
    },{
        "title": "{% trans 'Proactive Disclosure' %}",
        "href": "{% trans 'https://open.canada.ca/en/proactive-disclosure' %}",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Search Grants and Contributions" %}</h1>
{% endblock %}
<section>
    <p class="gc-byline">{% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}
        {% endif %}
    </p>
    {% if info_msg|length > 0 %}
    <div class="row">
        <section class="alert alert-info"><h3>{% trans 'Transitional Period' %}</h3>
            <div class="small">{{ info_msg | markdown_filter | safe }}</div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-12">
        <details>
            <summary>{% trans 'About this information' %}</summary>
            {{ about_msg | markdown_filter | safe }}
        </details>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            {% block main-content-content %}
            <section>
            {% if alerts|length > 0 %}
                <div class="row">
                {% autoescape off %}
                {% for alert in alerts %}
                    <div class="alert alert-info">{% trans alert %}</div>
                {% endfor %}
                {% endautoescape %}
                </div>
            {% endif %}
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>{% blocktrans with result_num=results.hits|apnumber result_s=results.hits|pluralize %}Found {{result_num}} record{{result_s}}{% endblocktrans %}</p>
                    </div>
                </div>
                <form action="{% url 'GCQuery' %}" id="search_form" method="get" role="form" class="mrgn-bttm-md form-inline">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="input-group">
                                <label for="od-search-input" class="wb-inv">{% trans 'Search' %}</label>
                                <input type="text" name="od-search-input" class="form-control" id="od-search-input"
                                       value="{{ search_text }}" placeholder="{% trans 'Search' %}"
                                       onkeypress="submitFormOnEnter(event)" size="60"/>

                                <span class="input-group-btn">
                                     <label for="od-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                     <button type="button" class="btn btn-primary btn-small form-submit" id="od-search-button"
                                            onclick="submitForm()">{% trans 'Search' %}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="form-group">
                                <label for="sort-by" class="control-label">{% trans 'Order By' %}</label>
                                <select class="form-control" name="sort-by" id="sort-by" value="{{sortby}}" onchange="submitForm();">
                                <option value="score desc" {% if sortby == "score desc" %}selected="selected"{% endif %}
                                    >{% trans 'Best match' %}</option>
                                <option value="agreement_start_date_s desc" {% if sortby == "agreement_start_date_s desc" %}selected="selected"{% endif %}
                                    >{% trans 'Newest' %}</option>
                                <option value="agreement_value_fs desc" {% if sortby == "agreement_value_fs desc" or sortby == "agreement_value_fs desc" %}selected="selected"{% endif %}
                                    >{% trans 'Value' %}</option>
                            </select>
                            </div>
                        </div>
                        <div class="input-group hidden">
                            <input type="text" name="page" class="form-control" id="page" value="{{currentpage}}">
                        </div>
                    </div>
                </form>
                <div class="row mrgn-tp-md mrgn-bttm-md">
                    <div class="col-md-12" id="search_terms"></div>
                </div>
            </section>
            <section>
            {% for doc in results.docs %}
            <div class="panel panel-default mrg-tp-sm mrgn-bttm-sm">
                 <div class="panel-body">
                 {% if not doc.nil_report_b %}
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">
                                {% if LANGUAGE_CODE == 'en' %}
                                    {{ doc.recipient_legal_name_txt_en  | safe}}{% if not doc.recipient_type_en_s == "-" %} ({{ doc.recipient_type_en_s }}){% endif %}
                                {% else %}
                                    {{ doc.recipient_legal_name_txt_fr  | safe}}{% if not doc.recipient_type_fr_s == "-" %} ({{ doc.recipient_type_fr_s }}){% endif %}
                                {% endif %}
                            </h4>
                        </div>
                        <div class="col-sm-4 text-right">
                            {% if LANGUAGE_CODE == 'en' %}
                                <h4 class="mrgn-tp-0 mrgn-bttm-sm">{{ doc.agreement_value_en_txt_ws | safe }}</h4>
                                <h5 class="mrgn-tp-0 mrgn-bttm-sm">{{ doc.agreement_start_date_s | friendly_date_en }}</h5>
                            {% else %}
                                <h4 class="mrgn-tp-0 mrgn-bttm-sm">{{ doc.agreement_value_fr_txt_ws | safe }}</h4>
                                <h5 class="mrgn-tp-0 mrgn-bttm-sm">{{ doc.agreement_start_date_s | friendly_date_fr }}</h5>
                            {% endif %}
                        </div>

                        <div class="col-sm-12">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% spaceless %}
                            {% if not doc.agreement_title_txt_fr == "-" %}<strong>{% trans 'Agreement:' %}</strong> {{ doc.agreement_title_txt_fr | safe }}
                                {% if not doc.agreement_number_s == "-" %} ({{ doc.agreement_number_s }}). {% endif %}
                                {% if not doc.agreement_end_date_s == "-" %} {{ doc.agreement_start_date_s | friendly_date_fr }} - {{ doc.agreement_end_date_s | friendly_date_fr }}{% endif %}<br>{% endif %}
                            {% if not doc.description_txt_fr == "-" %}<strong>{% trans 'Description:' %}</strong> {{ doc.description_txt_fr | markdown_filter | safe}}{% endif %}
                            {% if not doc.expected_results_txt_fr == "-" %}<strong>{% trans 'Expected Results:' %}</strong> {{ doc.expected_results_txt_fr | markdown_filter | safe }}{% endif %}
                            <strong>{% trans 'Organization:' %}</strong> {{ doc.owner_org_fr_s }}<br>
                            <strong>{% trans 'Recipient:' %}</strong> {{ doc.recipient_legal_name_txt_fr  | safe}}{% if not doc.recipient_type_fr_s == "-" %} ({{ doc.recipient_type_fr_s }}){% endif %}<br>
                            {% if not doc.recipient_city_fr_s == "-" or not doc.recipient_country_fr_s == "-" or not doc.recipient_postal_code_txt == "-"%}
                            <strong>{% trans 'Location:' %}</strong> {% if not doc.recipient_city_fr_s == "-" %}{{ doc.recipient_city_fr_s }}, {% endif %}{% if not doc.recipient_province_fr_s == "-" %}{{ doc.recipient_province_fr_s }}, {% endif %}{% if not doc.recipient_country_fr_s == "-" %}{{ doc.recipient_country_fr_s }} {% endif %}{% if not doc.recipient_postal_code_txt == "-" %} {{ doc.recipient_postal_code_txt | safe }}{% endif %}<br>{% endif %}
                            {% endspaceless %}
                            <details>{% spaceless %}
                                <summary>{% trans 'Details' %}</summary>
                                <strong>{% trans 'Ref #' %}</strong> {{ doc.ref_number_txt_ws | safe }} <em>({{ doc.agreement_type_fr_s }})</em><br>{# There is ALWAYS a reference no. #}
                                {% if not doc.additional_information_txt_fr == "-" %}{{ doc.additional_information_txt_fr | markdown_filter | safe }}{% endif %}
                                {% if not doc.amendment_number_s == '0' %}<strong>{% trans 'Amendment #' %}</strong> {{ doc.amendment_number_s }} {% if doc.amendment_date_s %}({{ doc.amendment_date_s }}){% endif %}<br>{% endif %}
                                {% if not doc.recipient_operating_name_txt_fr == "-" %}<strong>{% trans "Recipient's Operating Name:" %}</strong> {{ doc.recipient_operating_name_txt_fr | safe}}<br>{% endif %}
                                {% if not doc.research_organization_name_txt_fr == "-" %}<strong>{% trans 'Research Organization:' %}</strong> {{ doc.research_organization_name_txt_fr | safe}}<br>{% endif %}
                                {% if not doc.federal_riding_name_txt_fr == "-" %}<strong>{% trans 'Federal Riding Name:' %}</strong> {{ doc.federal_riding_name_txt_fr | safe }}
                                    {% if doc.federal_riding_number_s %}({{ doc.federal_riding_number_s }}){% endif %}<br>{% endif %}
                                {% if not doc.program_name_txt_fr == "-" %}<strong>{% trans 'Program Name:' %}</strong> {{ doc.program_name_txt_fr | safe }}<br>
                                    {% if not doc.program_purpose_txt_fr == "-" %}{{ doc.program_purpose_txt_fr | markdown_filter | safe }}<br>{% endif %}{% endif %}
                                {% if not doc.coverage_txt_fr == "-" %}<strong>{% trans 'Coverage:' %}</strong> {{ doc.coverage_txt_fr | safe }}<br>{% endif %}
                                {% if not doc.foreign_currency_type_fr_s == "-" and not doc.foreign_currency_value_s  == '$0.00' %}<strong>{% blocktrans with fctype=doc.foreign_currency_type_fr_s %}Value in {{ fctype }}{% endblocktrans %}</strong>: {{ doc.foreign_currency_value_s }}<br>{% endif %}
                                {% if not doc.naics_identifier_s == "-" %}<strong>{% trans "NAICS Code:" %}</strong> {{ doc.naics_identifier_s }}<br>{% endif %}
                                {% endspaceless %}
                             </details>
                        {% else %}
                            {% spaceless %}
                            {% if not doc.agreement_title_txt_en == "-" %}<strong>{% trans 'Agreement:' %}</strong> {{ doc.agreement_title_txt_en | safe }}
                                {% if not doc.agreement_number_s == "-" and doc.agreement_title_txt_en != doc.agreement_number_s %} ({{ doc.agreement_number_s }}) {% endif %}
                                {% if not doc.agreement_end_date_s == "-" %}({{ doc.agreement_start_date_s | friendly_date_en }} - {{ doc.agreement_end_date_s | friendly_date_en}}){% endif %}<br>{% endif %}
                            {% if not doc.description_txt_en == "-" %}<strong>{% trans 'Description:' %}</strong> {{ doc.description_txt_en | markdown_filter | safe }}{% endif %}
                            {% if not doc.expected_results_txt_en == "-" %}<strong>{% trans 'Expected Results:' %}</strong> {{ doc.expected_results_txt_en | markdown_filter | safe }}{% endif %}
                            <strong>{% trans 'Organization' %}</strong>: {{ doc.owner_org_en_s }}<br>
                            {% if not doc.recipient_city_en_s == "-" or not doc.recipient_country_en_s == "-" or not doc.recipient_postal_code_txt == "-"%}
                            <strong>Location</strong>: {% if not doc.recipient_city_en_s == "-" %}{{ doc.recipient_city_en_s }}, {% endif %}{% if not doc.recipient_province_en_s == "-" %}{{ doc.recipient_province_en_s }}, {% endif %}{% if not doc.recipient_country_en_s == "-" %}{{ doc.recipient_country_en_s }} {% endif %}{% if not doc.recipient_postal_code_txt == "-" %} {{ doc.recipient_postal_code_txt | safe }}{% endif %}<br>{% endif %}
                            {% endspaceless %}
                            <details>{% spaceless %}
                                <summary>{% trans 'Details' %}</summary>
                                 <strong>{% trans 'Ref #' %}</strong> {{ doc.ref_number_txt_ws | safe }} <em>({{ doc.agreement_type_en_s }})</em><br>{# There is ALWAYS a reference no. #}
                                {% if not doc.additional_information_txt_en == "-" %}<strong>{% trans "Additional Information:" %}</strong>{{ doc.additional_information_txt_en | markdown_filter | safe }}{% endif %}
                                {% if not doc.amendment_number_s == '0' %}<strong>{% trans 'Amendment #' %}</strong> {{ doc.amendment_number_s }} {% if doc.amendment_date_s %}({{ doc.amendment_date_s }}){% endif %}<br>{% endif %}
                                {% if not doc.recipient_operating_name_txt_en == "-" %}<strong>{% trans "Recipient's Operating Name:" %}</strong> {{ doc.recipient_operating_name_txt_en | safe}}<br>{% endif %}
                                {% if not doc.research_organization_name_txt_en == "-" %}<strong>{% trans 'Research Organization:' %}</strong> {{ doc.research_organization_name_txt_en | safe}}<br>{% endif %}
                                {% if not doc.federal_riding_name_txt_en == "-" %}<strong>{% trans 'Federal Riding Name:' %}</strong> {{ doc.federal_riding_name_txt_en | safe }} {% if doc.federal_riding_number_s %}({{ doc.federal_riding_number_s }}){% endif %}<br>{% endif %}
                                {% if not doc.program_name_txt_en == "-" %}<strong>{% trans 'Program:' %}</strong> {{ doc.program_name_txt_en | safe }}<br>{% if not doc.program_purpose_txt_en == "-" %}{{ doc.program_purpose_txt_en | markdown_filter | safe }}{% endif %}{% endif %}
                                {% if not doc.coverage_txt_en == "-" %}<strong>{% trans 'Coverage:' %}</strong> {{ doc.coverage_txt_en | safe }}<br>{% endif %}
                                {% if not doc.foreign_currency_type_en_s == "-" and not doc.foreign_currency_value_s  == '$0.00' %}<strong>{% blocktrans with fctype=doc.foreign_currency_type_en_s %}Value in {{ fctype }}{% endblocktrans %}</strong>: {{ doc.foreign_currency_value_s }}<br>{% endif %}
                                {% if not doc.naics_identifier_s == "-" %}<strong>{% trans "NAICS Code:" %}</strong> {{ doc.naics_identifier_s }}<br>{% endif %}
                             {% endspaceless %}</details>
                        {% endif %}
                        </div>
                     </div>
                {% else %}
                     <div class="row">
                         <div class="col-sm-3">
                            <strong>{{ doc.fiscal_year_s }} - {{ doc.quarter_s }} </strong>
                        </div>
                         <div class="col-sm-9">
                            <div class="mrgn-tp-0 mrgn-bttm-sm text-left">
                                {% if LANGUAGE_CODE == 'fr' %}{{ doc.owner_org_fr_s }}{% else %}{{ doc.owner_org_en_s }}{% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 mrgn-tp-md">
                            {% trans 'Nothing to report' %}
                        </div>
                     </div>
                {% endif %}
                </div>
            </div>
            {% endfor %}
                </section>
            {% block main-content-pagination %}
            <section>
                <ul class="pagination">
                    {% for pg in pagination %}
                        {% if pg == 1 %}
                            {% if currentpage == 1 %}
                            <li class="previous disabled"><a href="#" rel="prev">{% trans 'Previous' %}</a></li>
                            {% else %}
                            <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">
                            {% trans 'Previous' %} <span class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                            {% endif %}
                            <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#" onclick="gotoPage('1')">
                                1<span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% elif pg == last_page %}
                            <li{% if currentpage == last_page %} class="active" {% endif %}><a
                                    href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}
                                <span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% if currentpage == last_page %}
                            <li class="next disabled"><a href="#" rel="next">{% trans 'Next' %}</a></li>
                            {% else %}
                            <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">
                                {% trans 'Next' %} <span
                                        class="wb-inv">Go to page {{ next_page }}</span></a></li>
                            {% endif %}
                        {% elif pg == 0 %}
                        <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                        {% else %}
                        <li {% if currentpage == pg %}class="active" {% endif %}>
                            <a href="#" onclick="gotoPage('{{ pg }}')">
                                {{ pg }} <span
                                        class="wb-inv">Go to page {{pg}}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
        {% endblock %}
        </div>
        <div class="col-md-4 col-md-pull-8">
            {% block main-content-sidebar %}{% spaceless %}
            <aside class="mrgn-tp-lg">
                <div class="btn-block">
                    <div>
                        <a onclick="clear_facets();" href="#" class="btn btn-default mrgn-bttm-md btn-block"><span
                            class="glyphicon glyphicon-refresh"></span> {% trans 'Clear all choices' %}</a>
                    </div>
                    {% if export_terms != "" %}
                    <div>
                        <a onclick="" href="{{ export_url }}"

                           class="btn btn-default mrgn-bttm-md btn-block{% if results.hits < 1 %} disabled{% endif %}"><span
                                class="glyphicon glyphicon-download-alt"></span> {% trans 'Download Search Results' %}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="list-group">
                {% if LANGUAGE_CODE == 'fr' %}
                    <a href="{{ od_fr_url }}/{{ gc_ds_id }}" class="list-group-item list-group-item-info text-center">{{ gc_ds_title_fr }}</a>
                {% else %}
                    <a href="{{ od_en_url }}/{{ gc_ds_id }}" class="list-group-item list-group-item-info text-center">{{ gc_ds_title_en }}</a>
                {% endif %}
                </div>
            </aside>
            <aside>
                <div>
                {# Report Type Facet #}
                    <details class="panel panel-default mrgn-bttm-0" {% if type_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Report Type' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in report_type_fr_s.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in type_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in type_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-report-type")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in report_type_en_s.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in type_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in type_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-report-type")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ report_type_fr_s | EmptyFacetMessage }}{% else %}{{ report_type_en_s | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Organizations Facet #}
                    <details class="panel panel-default mrgn-bttm-0" {% if organizations_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Organization' %}</h5>
                        </summary>
                        <ul class="list-group" id="org-list">

                        {% if LANGUAGE_CODE == 'fr' %}

                            {% for k, v in org_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick='select_facet("{{ k }}", "gc-search-orgs")' value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in org_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick='select_facet("{{ k }}", "gc-search-orgs")' value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if LANGUAGE_CODE == 'fr' %}{{ org_facets_fr | EmptyFacetMessage }}{% else %}{{ org_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Year Facet #}
                    <details class="panel panel-default mrgn-bttm-0" {% if year_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Calendar Year' %}</h5>
                        </summary>
                        <ul class="list-group">
                            {% for k, v in year_i.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in year_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in year_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-year")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ year_i | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Agreement Type #}
                    <details class="panel panel-default mrgn-bttm-0" {% if agreement_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Agreement Type' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in agreement_type_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in agreement_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in agreement_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-agreement-type")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k  }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in agreement_type_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in agreement_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in agreement_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-agreement-type")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ agreement_type_facets_fr | EmptyFacetMessage }}{% else %}{{ agreement_type_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Agreement Value Range #}
                    <details class="panel panel-default mrgn-bttm-0" {% if range_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Agreement Value' %}</h5>
                        </summary>
                        <ul class="list-group">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {% for k, v in agreement_value_range_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in range_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in range_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-agreement-range")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k | trim_left:4 }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in agreement_value_range_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in range_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in range_selected_list %} checked="checked"{% endif %}
                                             onclick='select_facet("{{ k }}", "gc-search-agreement-range")'
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k | trim_left:4 }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                            {% if LANGUAGE_CODE == 'fr' %}{{ agreement_value_range_facets_fr | EmptyFacetMessage }}{% else %}{{ agreement_value_range_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                </div>{% endspaceless %}
            </aside>
            {% endblock %}
        </div>

    </div>

</section>
{% endblock %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
"footerSections": [{
    "href": "{% trans 'https://open.canada.ca/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
},{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
}],
"showFeatures": false
{% endblock %}
{% block custom-jquery %}
<script src="{% static 'open_data/od_facet_buttons.js' %}"></script>
{% endblock %}
