{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div>
    <ul class="lst-spcd">
         {% for doc in results.docs %}
             <li>
                {% if LANGUAGE_CODE == 'en' %}
                <a href="{{od_base_en}}{{doc.id_name_s}}">
                    {% if "title_en_s" in doc %}{{ doc.title_en_s | safe | truncatechars:175}}
                    {% elif 'title_xlt_en_s' in doc %}{{ doc.title_xlt_en_s | safe }}
                     <span class="fa fa-language text-muted mrgn-lft-sm"
                           title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                    {% endif %}
                {% else %}
                <a href="{{od_base_fr}}{{doc.id_name_s}}">
                    {% if "title_fr_s" in doc %}
                        {{ doc.title_fr_s | safe | truncatewords:175 }}
                    {% elif 'title_xlt_fr_s' in doc %}
                        {{ doc.title_xlt_fr_s | safe }}
                        <span class="fa fa-language text-muted mrgn-lft-sm"
                              title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                    {% endif %}
                {% endif %}
             </li>
         {% endfor %}
    </ul>
</div>