{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/od{% endblock language_switch_url %}

{% block page_title %}{% trans 'Open Government Portal' %} | {% trans 'Open Government' %}{% endblock page_title %}
{% block meta_tags %}<meta name="description" content="{% trans 'Open Government Portal' %}" />{% endblock meta_tags %}

{% block adobe_analytics_meta_title %}
    <meta name="dcterms:title" content="{% trans 'Open Government Portal' %}" />
{% endblock %}

{% block custom_page_javascript %}
    <script src="{% static 'open_data/facets.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{% static 'open_data/od_search.js' %}"></script>
{% endblock custom_page_javascript %}
{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'wet/aurora-custom.css' %}">
{% endblock custom_page_css %}
{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/od",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "Canada.ca",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Open Government Portal" %}</h1>
{% endblock %}
    <section>
        <p class="gc-byline">{% if request.user.is_authenticated %}
            Logged in as {{ request.user.username }}
        {% endif %}
        </p>
        <div class="row">
            <div class="col-md-8 col-md-push-4">
                {% block main-content-content %}
                <section>
                    <div class="row">
                        {% autoescape off %}
                            {% for alert in alerts %}
                                <section class="alert alert-info">{% trans alert %}</section>
                            {% endfor %}
                        {% endautoescape %}
                    </div>
                    <div class="ogscartwrapper mrgn-bttm-md" style="display:none; visibility:hidden;">
                        <span class="fa fa-shopping-cart"> </span><span class="ogscarttally"
                                                                        style="font-family:Helvetica,Arial,sans-serif;">{{ _('Tally of Items') }} </span>
                        <a id="OGSCartListItems" class="ogscartlistbtn btn btn-primary btn-xs" href="#"><span
                                class="fa fa-list-alt"></span> {{ _('List Items') }}</a>
                        <a id="OGSCartPlotItems" class="ogscartplotbtn btn btn-primary btn-xs" href="#"><span
                                class="fa fa-globe"></span> {{ _('View on Map') }}</a>
                        <a id="OGSCartDumpItems" class="ogscartplotbtn btn btn-danger btn-xs" href="#"><span
                                class="fa fa-trash-o"></span> {{ _('Clear List') }}</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p>{% blocktrans with result_num=results.hits|apnumber result_s=results.hits|pluralize %}Found {{ result_num }} record{{ result_s }}{% endblocktrans %}{{ mlt_message | safe }}</p>
                        </div>
                    </div>
                    <form action="{% url 'ODQuery' %}" id="search_form" method="get" role="form" onsubmit="submitForm()"
                          class="form-inline">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 ">
                                <div class="input-group">
                                    <label for="search_text" class="wb-inv">{% trans 'Search' %}</label>
                                    <input type="text" name="search_text" class="form-control"
                                           id="search_text" aria-label="{% trans 'Search' %}"
                                           value="{{ search_text }}" placeholder="{% trans 'Search' %}"
                                           size="60"/>

                                    <span class="input-group-btn">
                                         <label for="od-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                         <button type="submit" class="btn btn-primary btn-small form-submit"
                                                 id="od-search-button"
                                                 >{% trans 'Search' %}
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5">
                                <div class="form-group pull-right">
                                    <label for="sort-by" class="control-label">{% trans 'Order By' %}</label>
                                    <select class="form-control" name="sort-by" id="sort-by" a value="{{ sortby }}"
                                            onchange="submitForm();">
                                        <option value="score desc"
                                                {% if sortby == "score desc" %}selected="selected"{% endif %}
                                        >{% trans 'Best match' %}</option>
                                        <option value="title_en_s asc"
                                                {% if sortby == "title_en_s asc" or sortby == "title_fr_s asc" %}selected="selected"{% endif %}
                                        >{% trans 'Title' %}</option>
                                        <option value="last_modified_tdt desc"
                                                {% if sortby == "last_modified_tdt desc" %}selected="selected"{% endif %}
                                        >{% trans 'Newest' %}</option>
                                    </select>
                                </div>

                                <div class="input-group hidden">
                                    <div>
                                        <label for="page" aria-hidden="true">Page: </label>
                                        <input type="text" name="page" class="form-control" id="page" aria-hidden="true"
                                               value="{{ currentpage }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row mrgn-tp-md mrgn-bttm-md">
                        <div class="col-md-12"><span id="search_terms"></span>
                        </div>
                    </div>

                </section>
            <section>
            {% for doc in results.docs %}
            <div class="panel panel-default mrg-tp-sm">
                 <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">
                                {% if LANGUAGE_CODE == 'en' %}
                                <a href="{{od_en_url}}{{doc.id_name_s}}">
                                    {% if "title_en_s" in doc %}{{ doc.title_en_s | safe }}{% elif 'title_xlt_en_s' in doc %}{{ doc.title_xlt_en_s | safe }}{% endif %}
                                {% else %}
                                <a href="{{od_fr_url}}{{doc.id_name_s}}">
                                    {% if "title_fr_s" in doc %}
                                        {{ doc.title_fr_s | safe }}
                                    {% elif 'title_xlt_fr_s' in doc %}
                                        {{ doc.title_xlt_fr_s | safe }} <span class="fa fa-language text-muted mrgn-lft-sm"
                                                                          title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                    {% endif %}
                                {% endif %}
                                </a></h4>
                        </div>
                        <div class="col-sm-2 text-right">
                            <span class="{% if doc.jurisdiction_en_s == 'Provincial' or doc.jurisdiction_fr_s == 'Provinciale' %}badge badge-secondary
                                         {% elif doc.jurisdiction_en_s == 'User' or doc.jurisdiction_fr_s == 'Utilisateur' %}badge badge-warning
                                         {% elif doc.jurisdiction_en_s == 'Municipal' or doc.jurisdiction_fr_s == 'Municipal' %}badge badge-info
                                         {% else %}badge badge-success{% endif %}">
                                {% if LANGUAGE_CODE == 'fr' %}
                                {{ doc.jurisdiction_fr_s }}{% else %}{{doc.jurisdiction_en_s}}{% endif %}</span>
                        </div>
                        <div class="col-sm-12 mrgn-bttm mrgn-lft-sm mrgn-rght-sm mrgn-tp-sm">
                            {% if LANGUAGE_CODE == 'en' %}
                                    {% if 'description_txt_en' in doc %}{{ doc.desc_summary_txt_en | markdown_filter | safe }}
                                    {% elif 'description_xlt_txt_en' in doc %}{{ doc.description_xlt_txt_en | safe }} <span class="fa fa-language text-muted mrgn-lft-sm"
                                         title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                    {% endif %}
                                {% else %}
                                    {% if 'description_txt_fr' in doc %}{{ doc.desc_summary_txt_fr | markdown_filter | safe }}
                                    {% elif 'description_xlt_txt_fr' in doc %}{{ doc.description_xlt_txt_fr | safe }} <span class="fa fa-language text-muted mrgn-lft-sm"
                                         title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                    {% endif %}
                                {% endif %}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <strong>{% trans 'Last Updated: ' %}</strong>{% if LANGUAGE_CODE == 'en' %}{{ doc.last_modified_tdt | isoDateTimeToDate | friendly_date_en }}{% else %}{{ doc.last_modified_tdt | isoDateTimeToDate | friendly_date_fr }}{% endif %}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <strong>{% trans 'Date Published: ' %}</strong>{% if LANGUAGE_CODE == 'en' %}{{ doc.published_tdt | isoDateTimeToDate | friendly_date_en }}{% else %}{{ doc.published_tdt | isoDateTimeToDate | friendly_date_fr }}{% endif %}
                        </div>
                        <div class="col-sm-12">
                            <strong>{% trans 'Organization' %}: </strong>{% if LANGUAGE_CODE == 'en' %}
                                {{ doc.owner_org_title_txt_en | safe }}{% else %}{{ doc.owner_org_title_txt_fr | safe }}{% endif %}
                        </div>
                        <div class="col-sm-12">
                            <strong>{% trans 'Formats' %}: </strong>
                                {% for f in doc.resource_format_s %}<span class="badge">{% trans f %}</span> {% endfor %}
                        </div>
                        <div class="col-sm-12">

                        </div>
                        <div class="col-sm-12">
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span><span class="wb-inv">{% trans 'Keywords' %}:</span>&nbsp;
                                    {% if LANGUAGE_CODE == 'fr' %}
                                        {% if 'keywords_txt_fr' in doc %}
                                            {% for y in doc.keywords_txt_fr %}{% if forloop.counter < 10 %}<span class="text-muted">{% if not forloop.first %}, {% endif %}{{y | safe}}{% endif %}</span>{% endfor %}
                                        {% elif 'keywords_xlt_txt_fr' in doc %}
                                            {% for y in doc.keywords_xlt_txt_fr %}{% if forloop.counter < 10 %}<span class="text-muted">{% if not forloop.first %}, {% endif %}{{y | safe}}{% endif %}</span>{% endfor %}
                                            <span class="fa fa-language text-muted mrgn-lft-sm"
                                             title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                        {% endif %}
                                    {% else %}
                                        {% if 'keywords_txt_en' in doc %}
                                          {% for y in doc.keywords_txt_en %}{% if forloop.counter < 10 %}<span class="text-muted">{% if not forloop.first %}, {% endif %}{{y | safe}}{% endif %}</span>{% endfor %}
                                        {% elif 'keywords_xlt_txt_en' in doc %}
                                            {% for y in doc.keywords_xlt_txt_en %}{% if forloop.counter < 10 %}<span class="text-muted">{% if not forloop.first %}, {% endif %}{{y | safe}}{% endif %}</span>{% endfor %}
                                            <span class="fa fa-language text-muted mrgn-lft-sm"
                                             title="{% trans 'This third party metadata element has been translated using an automated translation tool.  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                        {% endif %}
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 pull-left mrgn-tp-sm">
                            {% for display_type in doc.display_options_s %}
                                {% if display_type == "fgp_viewer" %}
                                    <a value="{{ doc.id_name_s }}"
                                       id="OGSCartAdd_{{ doc.id_name_s }}"
                                       class="ogscartbtn ogscartaddbtn btn btn-success btn-sm" href="javascript:;">
                                       <span class="fa fa-plus"></span> {% trans 'Add to Map List' %}</a>
                                    <a value="{{ doc.id_name_s }}"
                                       id="OGSCartRemove_{{ doc.id_name_s }}"
                                       class="ogscartbtn ogscartremovebtn btn btn-danger btn-sm" href="javascript:;">
                                    <span class="fa fa-minus"></span> {% trans 'Remove from Map List' %}</a>
                                {% endif %}
                            {% endfor %}
                             <a class="btn btn-secondary btn-sm pull-right"  href="/{{ LANGUAGE_CODE }}/od?mlt_id={{ doc.id }}"
                                aria-label="{% trans 'Show similar records for ' %} {% if LANGUAGE_CODE == 'en' %}
                                  {% if "title_en_s" in doc %}{{ doc.title_en_s | safe }}{% elif 'title_xlt_en_s' in doc %}{{ doc.title_xlt_en_s | safe }}{% endif %}
                                {% else %}
                                  {% if "title_fr_s" in doc %}{{ doc.title_fr_s | safe }}{% elif 'title_xlt_fr_s' in doc %}{{ doc.title_xlt_fr_s | safe }}{% endif %}
                                {% endif %}">{% trans 'Show similar records' %}</a>
                        </div>
                </div>
            </div>
            {% endfor %}
                </section>
            {% block main-content-pagination %}
            <section>
                <ul class="pagination">
                    {% for pg in pagination %}
                        {% if pg == 1 %}
                            {% if currentpage == 1 %}
                            <li class="previous disabled"><a href="#" rel="prev">{% trans 'Previous' %}</a></li>
                            {% else %}
                            <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">
                            {% trans 'Previous' %} <span class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                            {% endif %}
                            <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#" onclick="gotoPage('1')">
                                1<span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% elif pg == last_page %}
                            <li{% if currentpage == last_page %} class="active" {% endif %}><a
                                    href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}
                                <span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% if currentpage == last_page %}
                            <li class="next disabled"><a href="#" rel="next">{% trans 'Next' %}</a></li>
                            {% else %}
                            <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">
                                {% trans 'Next' %} <span
                                        class="wb-inv">Go to page {{ next_page }}</span></a></li>
                            {% endif %}
                        {% elif pg == 0 %}
                        <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                        {% else %}
                        <li {% if currentpage == pg %}class="active" {% endif %}>
                            <a href="#" onclick="gotoPage('{{ pg }}')">
                                {{ pg }} <span
                                        class="wb-inv">Go to page {{pg}}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
        {% endblock %}
        </div>
        <div class="col-md-4 col-md-pull-8">
            {% block main-content-sidebar %}
            <aside class="mrgn-tp-lg">
                <div class="btn-block">
                    <div>
                        <a onclick="clear_facets();" href="#" class="btn btn-default mrgn-bttm-md btn-block"><span
                            class="glyphicon glyphicon-refresh"></span> {% trans 'Clear all choices' %}</a>
                    </div>
                    {% if export_terms != "" %}
                    <div>
                        <a onclick="" href="{{ export_url }}" class="btn btn-default mrgn-bttm-md btn-block"><span
                                class="glyphicon glyphicon-download-alt"></span> {% trans 'Download Search Results' %}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="list-group">
                {% if LANGUAGE_CODE == 'fr' %}
                    <a href="{{ od_fr_url }}/{{ od_ds_id }}" class="list-group-item aurora-list-group-item-info text-center">{{ od_ds_title_fr }}</a>
                {% else %}
                    <a href="{{ od_en_url }}/{{ od_ds_id }}" class="list-group-item aurora-list-group-item-info text-center">{{ od_ds_title_en }}</a>
                {% endif %}
                    <a href="{% trans 'https://open.canada.ca/en/suggested-datasets' %}"
                       class="list-group-item aurora-list-group-item-success mrgn-tp-md text-center">
                            {% trans 'Suggest a Dataset'%}</a>
                </div>
            </aside>
            <aside>
                {# Organizations Facet #}
                <div>
                    <details class="panel panel-default mrgn-bttm-0" {% if organizations_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Organization' %}</h5>
                        </summary>
                        <ul class="list-group" id="org-list">

                        {% if LANGUAGE_CODE == 'fr' %}

                            {% for k, v in org_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k  | escapejs }}', 'od-search-orgs')" value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} </label></div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in org_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k  | escapejs }}', 'od-search-orgs')" value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}</label></div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if LANGUAGE_CODE == 'fr' %}{{ org_facets_fr | EmptyFacetMessage }}{% else %}{{ org_facets_en | EmptyFacetMessage }}{% endif %}
                        </ul>
                    </details>

                {# Portal - Schema Type Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if portal_selected %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Portal Type' %}</h5>
                        </summary>
                        <ul class="list-group">
                            {% for k, v in portal_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in portal_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">
                                    <label><input type="checkbox"
                                             {% if k in portal_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k | escapejs }}', 'od-search-portal')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} </label></div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ portal_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Collection Type Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if col_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Collection Type' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in collection_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in col_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="month{{ k }}"
                                    onclick="select_facet('{{ k | escapejs }}', 'od-search-col')"
                                    {% if k in col_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} </label>
                                </div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                                </div>

                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ collection_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Jurisdiction Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if jur_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Jurisdiction' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in jurisdiction_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in jur_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">
                                    <label><input type="checkbox" value="{{ k }}" id="jur{{ k }}"
                                    onclick="select_facet('{{ k | escapejs }}', 'od-search-jur')"
                                    {% if k in jur_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} </label>
                                </div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ jurisdiction_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Keywords Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if keyw_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Keywords' %}</h5>
                        </summary>

                        <ul class="list-group" id="key-list">
                            {% for k, v in keyword_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in keyw_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="keyw{{ k }}"
                                    onclick="select_facet('{{ k  | escapejs }}', 'od-search-keywords')"
                                    {% if k in keyw_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} </label>
                                </div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ keyword_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Subjects Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if subject_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Subjects' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in subject_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in subject_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">

                                    <label><input type="checkbox" value="{{ k | escapejs }}" id="subject{{ k }}"
                                    onclick="select_facet('{{ k | escapejs }}', 'od-search-subjects')"
                                    {% if k in subject_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} </label>
                                </div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ subject_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Formats Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if format_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Formats' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in format_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in format_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="format{{ k }}"
                                    onclick="select_facet('{{ k | escapejs }}', 'od-search-format')"
                                    {% if k in format_selected_list %} checked{% endif %}
                                                  style="vertical-align:middle;position:relative;top:-1px;" > {{ k }} </label></div>
                                    <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ format_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Resource Type Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if rsct_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Resource Types' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in type_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in rsct_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">
                                    <label><input type="checkbox" value="{{ k }}" id="rsct{{ k }}"
                                    onclick="select_facet('{{ k | escapejs }}', 'od-search-rsct')"
                                    {% if k in rsct_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} </label>
                                </div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ type_facets | EmptyFacetMessage }}
                        </ul>
                    </details>

                {# Update Frequency Facet #}

                    <details class="panel panel-default mrgn-bttm-0" {% if update_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Update Frequency' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in frequency_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in update_selected_list %} active{% endif %}">
                            <div class="row">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 col-sm-9 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="freq{{ k }}"
                                    onclick="select_facet('{{ k | escapejs }}', 'od-search-update')"
                                    {% if k in update_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;" > {{ k }} </label>
                                </div>
                                <div class="text-right col-sm-3"><span class="badge">{{ v }}</span></div>
                            </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {{ frequency_facets | EmptyFacetMessage }}
                        </ul>
                    </details>
                </div>
            </aside>
            {% endblock %}
        </div>

    </div>

</section>
{% endblock %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
"footerSections": [{
    "href": "{% trans 'https://open.canada.ca/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
},{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
}],
"showFeatures": false
{% endblock %}
{% block custom-jquery %}
<script src="{% static 'open_data/OGSCookie.js' %}"></script>
<script src="{% static 'open_data/OGSMapsCart.js' %}"></script>
<script src="{% static 'open_data/i18n.js' %}"></script>
<script type="text/javascript">
var OGSMapsCart_lang = 'en'
{% if LANGUAGE_CODE == 'fr' %}
var OGSRoot = '{{ od_fr_fgp_root }}'
{% else %}
var OGSRoot = '{{ od_en_fgp_root }}'
{% endif %}


$( document ).ready(function() {
  wb.lang = '{{ LANGUAGE_CODE }}';
  initCart()
  updateCartUI()

  $("#OGSCartPlotItems").click(function() {
    viewOnMap()
  });

  // Part UI ease of use and part system reset
  $("#OGSCartDumpItems").click(function() {
    dumpCart()
    updateCartUI()
  });

  $(".ogscartviewbtn").click(function() {
    var action = $(this).attr('id').split('_')
    type = action[0]
    id = action[1]

    location.href='https://open.canada.ca/data/en/fgpv_vpgf/'+id
    return false
  });

  $(".ogscartbtn").click(function() {
    var action = $(this).attr('id').split('_')
    type = action[0]
    id = action[1]

    // Action
    if(type == 'OGSCartAdd')    { addCartItem(id)    }
    if(type == 'OGSCartRemove') { removeCartItem(id) }
    updateCartUI()
  });

  // Changes to the cart in another tab/window should be accounted for
  $(window).focus(function() {
    initCart()
    updateCartUI()
  });

<!-- End Cart -->

});
</script>
<script src="{% static 'open_data/od_facet_buttons.js' %}"></script>
    <style> {# Handle the item count on the facets with a selected item #}
    .list-group-item.active .badge {background-color: #ffffff; color: #2572b4}
    .label {white-space: normal}
    </style>
{% endblock %}
