{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/od{% endblock language_switch_url %}

{% block custom_page_javascript %}
<script>
{% comment %}

@todo Started move to sessionStorage - need to modify submitForm() to use sessionStorage values in the submission.
The jquery address plugin may be helpful here

{% endcomment %}
var accumulators = ['od-search-orgs', 'od-search-portal', 'od-search-col', 'od-search-jur', 'od-search-keywords',
                    'od-search-subjects', 'od-search-format', 'od-search-rsct', 'od-search-update'];

function select_facet(selected_item, accumulator) {
    var old_facet_arr = [];
    if (sessionStorage.getItem(accumulator)) {
        old_facet_str = sessionStorage.getItem(accumulator);
        old_facet_arr = String(old_facet_str).split(',');
    }
    var new_facet_arr = [];
    var found_it = false;
    old_facet_arr.forEach(function(item){
      if (item != selected_item) {
        new_facet_arr.push(item)
      } else {
        found_it = true;
      }
    });
    if (!found_it) {
        new_facet_arr.push(selected_item);
    }
    var new_facets = new_facet_arr.toString();
    if (new_facets.charAt(0) == ',') {
        new_facets = new_facets.substring(1);
    }
    sessionStorage.setItem(accumulator, new_facets);
    $('#page').value = '1';
    submitForm();
}

function clear_facets() {
    var cbs = $( "input:checked" );
    cbs.each(function(i) {
        this['checked'] = false;
    });
    var tbs = $( "input:text" );
    tbs.each(function(i) {
        this['value'] = '';
    });
    for (let i=0; i<accumulators.length; i++) {
        sessionStorage.removeItem(accumulators[i]);
    }
    submitForm();
}

function gotoPage(page_no) {
    $('#page').val(page_no);
    submitForm();
}

function submitForm() {

    var sort_opt = $('#sort-by').val();
    var page_no = $('#page').val();
    var search_text = $('#od-search-input').val();
    var search_terms = `sort=${sort_opt}&page=${page_no}`;
    if (typeof search_text !== 'undefined') {
        search_terms = `${search_terms}&search_text=${search_text}`;
    }
    for (let i=0; i<accumulators.length; i++) {
        if (sessionStorage.getItem(accumulators[i])) {
            facet_str = sessionStorage.getItem(accumulators[i]);
            search_terms=`${search_terms}&${accumulators[i]}=${facet_str}`
        }
    };
    window.location.search = search_terms;
}

function submitFormOnEnter(e) {
    if(e.which == 10 || e.which == 13) {
        $('#page').val('1');
        submitForm();
    }
}

</script>
{% endblock custom_page_javascript %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/od",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    }],
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Open Government Portal" %}</h1>
{% endblock %}
<section>
    <p class="gc-byline">{% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}
        {% endif %}
    </p>
    <div class="row">
        <div class="col-md-12">{% block search-alert %}{% endblock %}</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% block main-content-sidebar %}
            <aside>
                <div>
                    <a href="{% trans 'https://open.canada.ca/en/suggested-datasets' %}" class="btn btn-info mrgn-bttm-md">
                            {% trans 'Suggest a Dataset'%}</a>
                </div>
                <div>
                    <a onclick="clear_facets();" href="#" class="btn btn-default mrgn-bttm-md">{% trans 'Clear all choices' %}</a>
                </div>
                {# Organizations Facet #}
                <div>
                    <details class="panel" {% if organizations_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Organization' %}</h5>
                        </summary>
                        <ul class="list-group" id="org-list">

                        {% if LANGUAGE_CODE == 'fr' %}

                            {% for k, v in org_facets_fr.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k }}', 'od-search-orgs')" value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k, v in org_facets_en.items %}
                            {% if v > 0 %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k }}', 'od-search-orgs')" value="{{ k }}"
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </details>
                </div>
                {# Portal - Schema Type Facet #}
                <div>
                    <details class="panel" {% if portal_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Portal Type' %}</h5>
                        </summary>
                        <ul class="list-group">
                            {% for k, v in portal_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in portal_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in portal_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'od-search-portal')"
                                             style="vertical-align:middle;position:relative;top:-1px;" value="{{ k }}"
                                    > {{ k }} ({{ v }})</label></div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Collection Type Facet #}
                <div>
                    <details class="panel" {% if col_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Collection Type' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in collection_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in col_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="month{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-col')"
                                    {% if k in col_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Jurisdiction Facet #}
                <div>
                    <details class="panel" {% if jur_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Jurisdiction' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in jurisdiction_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in jur_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="jur{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-jur')"
                                    {% if k in jur_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Keywords Facet #}
                <div>
                    <details class="panel" {% if keyw_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Key Words' %}</h5>
                        </summary>

                        <ul class="list-group" id="key-list">
                            {% for k, v in keyword_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in keyw_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="keyw{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-keywords')"
                                    {% if k in keyw_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Subjects Facet #}
                <div>
                    <details class="panel" {% if subject_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Subjects' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in subject_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in subject_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="subject{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-subjects')"
                                    {% if k in subject_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Formats Facet #}
                <div>
                    <details class="panel" {% if format_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Formats' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in format_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in format_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="format{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-format')"
                                    {% if k in format_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;" > {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Resource Type Facet #}
                <div>
                    <details class="panel" {% if rsct_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Resource Types' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in type_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in rsct_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="rsct{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-rsct')"
                                    {% if k in rsct_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;"> {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Update Frequency Facet #}
                <div>
                    <details class="panel" {% if update_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Update Frequency' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in frequency_facets.items %}
                            {% if v > 0 %}
                            <li class="list-group-item{% if k in update_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="freq{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-update')"
                                    {% if k in update_selected_list %} checked{% endif %}
                                    style="vertical-align:middle;position:relative;top:-1px;" > {{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </div>
            </aside>
            {% endblock %}
        </div>
        <div class="col-md-8">
            {% block main-content-content %}
            <section>
                <form action="{% url 'ODQuery' %}" id="search_form" method="get" role="form" class="mrgn-bttm-md fofm-inline">
                    <div class="row">
                        <div class="col-md-9">
                        <div class="input-group">
                            <label for="od-search-input" class="wb-inv">{% trans 'Search' %}</label>
                            <input type="text" name="od-search-input" class="form-control" id="od-search-input"
                                   value="{{ search_text }}" placeholder="{% trans 'Search' %}"
                                   onkeypress="submitFormOnEnter(event)" />

                            <span class="input-group-btn">
                                 <label for="od-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                 <button type="button" class="btn btn-primary btn-small form-submit" id="od-search-button"
                                        onclick="submitForm()">{% trans 'Search' %}
                                </button>
                            </span>
                        </div>

                        </div>
                        <div class="input-group col-md-3">
                            <select class="form-control" name="sort-by" id="sort-by" value="{{sortby}}" onchange="submitForm();">
                                <option value="score desc" {% if sortby == "score desc" %}selected="selected"{% endif %}
                                    >{% trans 'Best match' %}</option>
                                <option value="last_modified_tdt desc" {% if sortby == "last_modified_tdt desc" %}selected="selected"{% endif %}
                                    >{% trans 'Newest' %}</option>
                                <option value="title_en_s asc" {% if sortby == "title_en_s asc" or sortby == "title_fr_s asc" %}selected="selected"{% endif %}
                                    >{% trans 'Title' %}</option>
                            </select>
                        </div>

                        <div class="input-group hidden">
                            {# Facet fields -- start #}
                            <div class="col-md-1">
                                <input type="text" name="page" class="form-control" id="page" value="{{currentpage}}">
                            </div>
                        </div>
                        <div class="col-md-9">
                             <p>{% blocktrans with result_num=results.hits|apnumber result_s=results.hits|pluralize %}Found
                                {{result_num}} record{{result_s}}{% endblocktrans %}</p>
                        </div>
                        <div class="col-md-3">
                            <label for="sort-by" class="control-label">{% trans 'Order By' %}</label>
                        </div>
                    </div>
                </form>
            </section>
            <section>
            {% for doc in results.docs %}
            <div class="panel panel-default mrg-tp-sm">
                 <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">
                                {% if LANGUAGE_CODE == 'en' %}
                                <a href="{{od_en_url}}{{doc.id_name_s}}">
                                    {% if "title_en_s" in doc %}{{ doc.title_en_s | safe }}{% elif 'title_xlt_en_s' in doc %}{{ doc.title_xlt_en_s | safe }}{% endif %}
                                {% else %}
                                <a href="{{od_fr_url}}{{doc.id_name_s}}">
                                    {% if "title_fr_s" in doc %}
                                        {{ doc.title_fr_s | safe }}
                                    {% elif 'title_xlt_fr_s' in doc %}
                                        {{ doc.title_xlt_fr_s | safe }} <span class="fa fa-language text-muted mrgn-lft-sm"
                                                                          title="{% trans 'This third party metadata element has been translated using an automated translation tool (DeepL).  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                    {% endif %}
                                {% endif %}
                                </a></h4>
                        </div>
                        <div class="col-sm-2 text-right">
                            <span class="{% if doc.jurisdiction_en_s == 'Provincial' or doc.jurisdiction_fr_s == 'Provinciale' %}label label-success{% else %}label label-primary{% endif %}">{% if LANGUAGE_CODE == 'fr' %}
                                {{ doc.jurisdiction_fr_s }}{% else %}{{doc.jurisdiction_en_s}}{% endif %}</span>
                        </div>
                        <div class="col-sm-12">
                            <p>{% if LANGUAGE_CODE == 'en' %}
                                    {% if 'description_txt_en' in doc %}{{ doc.description_txt_en | safe }}
                                    {% elif 'description_xlt_txt_en' in doc %}{{ doc.description_xlt_txt_en | safe }} <span class="fa fa-language text-muted mrgn-lft-sm"
                                         title="{% trans 'This third party metadata element has been translated using an automated translation tool (DeepL).  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                    {% endif %}
                                {% else %}
                                    {% if 'description_txt_fr' in doc %}{{ doc.description_txt_fr | safe }}
                                    {% elif 'description_xlt_txt_fr' in doc %}{{ doc.description_xlt_txt_fr | safe }} <span class="fa fa-language text-muted mrgn-lft-sm"
                                         title="{% trans 'This third party metadata element has been translated using an automated translation tool (DeepL).  To report any discrepancies please contact open-ouvert@tbs-sct.gc.ca' %}"></span>
                                    {% endif %}
                                {% endif %}</p>
                            <p><strong>{% trans 'Organization' %}: </strong>{% if LANGUAGE_CODE == 'en' %}
                                {{ doc.owner_org_title_txt_en | safe }}{% else %}{{ doc.owner_org_title_txt_fr | safe }}{% endif %}</p>
                            <p><strong>{% trans 'Formats' %}: </strong>
                                {% for f in doc.resource_format_s %}<span class="badge">{% trans f %}</span> {% endfor %}
                            </p>
                            <p><span class="wb-inv">{% trans 'Key Words' %}: </span>
                                {% if LANGUAGE_CODE == 'fr' %}
                                    {% for y in doc.keywords_txt_fr %}<span class="label label-default">{{y | safe}}</span> {% endfor %}
                                {% else %}
                                    {% for y in doc.keywords_txt_en %}<span class="label label-default">{{y | safe}}</span> {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                     </div>

                </div>
            </div>
            {% endfor %}
                </section>
            {% block main-content-pagination %}
            <section>
                <ul class="pagination">
                    {% for pg in pagination %}
                        {% if pg == 1 %}
                            {% if currentpage == 1 %}
                            <li class="previous disabled"><a href="#" rel="prev">{% trans 'Previous' %}</a></li>
                            {% else %}
                            <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">
                            {% trans 'Previous' %} <span class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                            {% endif %}
                            <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#" onclick="gotoPage('1')">
                                1<span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% elif pg == last_page %}
                            <li{% if currentpage == last_page %} class="active" {% endif %}><a
                                    href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}
                                <span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% if currentpage == last_page %}
                            <li class="next disabled"><a href="#" rel="next">{% trans 'Next' %}</a></li>
                            {% else %}
                            <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">
                                {% trans 'Next' %} <span
                                        class="wb-inv">Go to page {{ next_page }}</span></a></li>
                            {% endif %}
                        {% elif pg == 0 %}
                        <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                        {% else %}
                        <li {% if currentpage == pg %}class="active" {% endif %}>
                            <a href="#" onclick="gotoPage('{{ pg }}')">
                                {{ pg }} <span
                                        class="wb-inv">Go to page {{pg}}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
        {% endblock %}
        </div>
    </div>

</section>
{% endblock %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
"footerSections": [{
    "href": "/en/forms/contact-us",
    "text": "Open Government Contact"
},{
    "href": "https://www.canada.ca/en/government/dept.html",
    "text": "Departments and agencies"
},{
    "href": "https://www.canada.ca/en/government/publicservice.html",
    "text": "Public service and military"
},{
    "href": "http://news.gc.ca/",
    "text": "News"
},{
    "href": "https://www.canada.ca/en/government/system/laws.html",
    "text": "Treaties, laws and regulations"
},{
    "href": "https://www.canada.ca/en/transparency/reporting.html",
    "text": "Government-wide reporting"
},{
    "href": "/en/user",
    "text": "Open Government Log In"
},{
    "href": "https://www.canada.ca/en/government/system.html",
    "text": "How government works"
}],
"showFeatures": false
{% endblock %}

{% block custom-jquery %}
<script type="text/javascript">

</script>
{% endblock %}
