{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %}{% endblock canada_ca_search %}
{% block language_switch_url %}/od?lang={{ LANGUAGE_CODE | SwapLangCode }}{% endblock language_switch_url %}

{% block custom_page_javascript %}
<script>
function select_facet(selected_item, accumulator) {
    old_facet_arr = String(document.getElementById(accumulator).value).split(',');

    new_facet_arr = [];
    found_it = false;
    old_facet_arr.forEach(function(item){
      if (item != selected_item) {
        new_facet_arr.push(item)
      } else {
        found_it = true;
      }
    });
    if (!found_it) {
        new_facet_arr.push(selected_item);
    }
    new_facets = new_facet_arr.toString();
    if (new_facets.charAt(0) == ',') {
        new_facets = new_facets.substring(1);
    }
    document.getElementById(accumulator).value = new_facets;
    $('#page').value = '1';
    $('#search_form').submit();
}
function clear_facets() {
 cbs = $( "input:checked" );
 cbs.each(function(i) {
    this['checked'] = false;
    });
 tbs = $( "input:text" );
 tbs.each(function(i) {
    this['value'] = '';
    });
 submitForm();
}
function gotoPage(page_no) {
    $('#page').val(page_no);
    $('#search_form').submit();
}
function submitForm() {
    $('#page').val('1');
    $('#search_form').submit();
}
function submitFormOnEnter(e) {
    if(e.which == 10 || e.which == 13) {
        submitForm();
    }
}
function showMore(flist) {
    $('#' + flist).find('li:hidden').css( "display", "" );
    $('#' + flist + '-morethanless').css( "display", "none" );
    $('#' + flist + '-lessthanmore').css( "display", "" );
}
function showLess(flist) {
    var lis = $('#' + flist).find('li')
    var i;
    if (lis.length > 10) {
        for(i = 10; i < lis.length; i++) {
            lis[i].style["display"] = "none";
        }
    }
    $('#' + flist + '-morethanless').css( "display", "" );
    $('#' + flist + '-lessthanmore').css( "display", "none" );
}

</script>
{% endblock custom_page_javascript %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Open Government Portal" %}</h1>
{% endblock %}
<section>
    <p class="gc-byline">{% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}
        {% endif %}
    </p>
    <div class="row">
        <div class="col-md-12">{% block search-alert %}{% endblock %}</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% block main-content-sidebar %}
            <aside>
                <div>
                    <a href="{% trans 'https://open.canada.ca/en/suggested-datasets' %}" class="btn btn-info mrgn-bttm-md">
                            {% trans 'Suggest a Dataset'%}</a>
                </div>
                <div>
                    <a onclick="clear_facets();" href="#" class="btn btn-default mrgn-bttm-md">{% trans 'Clear all choices' %}</a>
                </div>
                {# Organizations Facet #}
                <div>
                    <details class="panel" {% if organizations_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Organization' %}</h5>
                        </summary>
                        <ul class="list-group" id="org-list">

                            {% if LANGUAGE_CODE == 'fr' %}

                            {% for k, v in org_facets_fr.items %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}"
                                {% if forloop.counter > 10 %} style="display: none;"{% endif %}>
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected_list %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k }}', 'od-search-orgs')" value="{{ k }}">
                                       {{ k }} ({{ v }})</label></div>
                            </li>

                            {% endfor %}
                            {% else %}
                            {% for k, v in org_facets_en.items %}
                            <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}"
                                {% if forloop.counter > 10 %} style="display: none;"{% endif %}>
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                    {% if k in organizations_selected %} checked="checked"{% endif %}
                                          onclick="select_facet('{{ k }}', 'od-search-orgs')" value="{{ k }}">
                                       {{ k }} ({{ v }})</label></div>
                            </li>

                            {% endfor %}
                            <li id="org-list-morethanless" class="list-group-item"><a onclick="showMore('org-list')" href="#">{% trans 'Show more' %}</a></li>
                            <li id="org-list-lessthanmore" class="list-group-item"><a onclick="showLess('org-list')" href="#">{% trans 'Show less' %}</a></li>
                            {% endif %}
                        </ul>
                    </details>
                </div>
                {# Portal - Schema Type Facet #}
                <div>
                    <details class="panel" {% if portal_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Portal Type' %}</h5>
                        </summary>
                        <ul class="list-group">
                            {% for k, v in portal_facets.items %}
                            <li class="list-group-item{% if k in portal_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                    <label><input type="checkbox"
                                             {% if k in portal_selected_list %} checked="checked"{% endif %}
                                             onclick="select_facet('{{ k }}', 'od-search-portal')"
                                                                                     value="{{ k }}"> {{ k }}
                                        ({{ v }})</label></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Collection Type Facet #}
                <div>
                    <details class="panel" {% if col_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Collection Type' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in collection_facets.items %}
                            <li class="list-group-item{% if k in col_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="month{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-col')"
                                    {% if k in col_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Jurisdiction Facet #}
                <div>
                    <details class="panel" {% if jur_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Jurisdiction' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in jurisdiction_facets.items %}
                            <li class="list-group-item{% if k in jur_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="jur{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-jur')"
                                    {% if k in jur_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Keywords Facet #}
                <div>
                    <details class="panel" {% if keyw_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Key Words' %}</h5>
                        </summary>

                        <ul class="list-group" id="key-list">
                            {% for k, v in keyword_facets.items %}
                            <li class="list-group-item{% if k in keyw_selected_list %} active{% endif %}"
                                {% if forloop.counter > 10 %} style="display: none;"{% endif %}>
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="keyw{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-keywords')"
                                    {% if k in keyw_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                            <li id="key-list-morethanless" class="list-group-item"><a onclick="showMore('key-list')" href="#">{% trans 'Show more' %}</a></li>
                            <li id="key-list-lessthanmore" class="list-group-item"><a onclick="showLess('key-list')" href="#">{% trans 'Show less' %}</a></li>

                        </ul>
                    </details>
                </div>
                {# Subjects Facet #}
                <div>
                    <details class="panel" {% if subject_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Subjects' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in subject_facets.items %}
                            <li class="list-group-item{% if k in subject_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="subject{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-subjects')"
                                    {% if k in subject_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Formats Facet #}
                <div>
                    <details class="panel" {% if format_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Formats' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in format_facets.items %}
                            <li class="list-group-item{% if k in format_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="format{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-format')"
                                    {% if k in format_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Resource Type Facet #}
                <div>
                    <details class="panel" {% if rsct_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Resource Types' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in type_facets.items %}
                            <li class="list-group-item{% if k in rsct_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="rsct{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-rsct')"
                                    {% if k in rsct_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                {# Update Frequency Facet #}
                <div>
                    <details class="panel" {% if update_selected|length > 0 %}open{% endif %}>
                        <summary class="panel-heading">
                            <h5 class="panel-title">{% trans 'Update Frequency' %}</h5>
                        </summary>

                        <ul class="list-group">
                            {% for k, v in frequency_facets.items %}
                            <li class="list-group-item{% if k in update_selected_list %} active{% endif %}">
                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">

                                    <label><input type="checkbox" value="{{ k }}" id="freq{{ k }}"
                                    onclick="select_facet('{{ k }}', 'od-search-update')"
                                    {% if k in update_selected_list %} checked{% endif %}>{{ k }} ({{ v}})</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
            </aside>
            {% endblock %}
        </div>
        <div class="col-md-8">
            {% block main-content-content %}
            <section>
                <form action="{% url 'ODQuery' %}" id="search_form" method="get" role="form" class="mrgn-bttm-md fofm-inline">
                    <div class="row">
                        <div class="col-md-9">
                        <div class="input-group">
                            <label for="od-search-input" class="wb-inv">{% trans 'Search' %}</label>
                            <input type="text" name="search_text" class="form-control" id="od-search-input"
                                   value="{{ search_text }}" placeholder="{% trans 'Search' %}"
                                   onkeypress="submitFormOnEnter(event)" />

                            <span class="input-group-btn">
                                 <label for="od-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                 <button type="button" class="btn btn-primary btn-small form-submit" id="od-search-button"
                                        onclick="submitForm()">{% trans 'Search' %}
                                </button>
                            </span>
                        </div>

                        </div>
                        <div class="input-group col-md-3">
                            <select class="form-control" name="sort" id="sort-by" value="{{sortby}}" onchange="submitForm();">
                                <option value="score desc" {% if sortby == "score desc" %}selected="selected"{% endif %}
                                    >{% trans 'Best match' %}</option>
                                <option value="last_modified_tdt desc" {% if sortby == "last_modified_tdt desc" %}selected="selected"{% endif %}
                                    >{% trans 'Newest' %}</option>
                                <option value="title_en_s asc" {% if sortby == "title_en_s asc" or sortby == "title_fr_s asc" %}selected="selected"{% endif %}
                                    >{% trans 'Title' %}</option>
                            </select>
                        </div>

                        <div class="input-group hidden">
                            {# Facet fields -- start #}
                            <div class="col-md-1">
                                <input type="text" name="search_portal" class="form-control" id="od-search-portal"
                                       value="{{portal_selected}}">
                                <input type="text" name="search_collection" class="form-control" id="od-search-col"
                                       value="{{col_selected}}">
                                <input type="text" name="search_jur" class="form-control" id="od-search-jur"
                                       value="{{jur_selected}}">
                                <input type="text" name="search_orgs" class="form-control" id="od-search-orgs"
                                       value="{{organizations_selected}}">
                                <input type="text" name="search_keywords" class="form-control" id="od-search-keywords"
                                       value="{{keyw_selected}}">
                                <input type="text" name="search_subject" class="form-control" id="od-search-subjects"
                                       value="{{subject_selected}}">
                                <input type="text" name="search_format" class="form-control" id="od-search-format"
                                       value="{{format_selected}}">
                                <input type="text" name="search_rsct" class="form-control" id="od-search-rsct"
                                       value="{{rsct_selected}}">
                                <input type="text" name="search_update" class="form-control" id="od-search-update"
                                       value="{{update_selected}}">
                                {# Facet fields -- end #}
                                <input type="text" name="page" class="form-control" id="page" value="{{currentpage}}">
                                <input type="text" name="orgs_expanded" class="form-control" id="orgs-expanded"
                                       value="{{orgs_expanded}}">
                                <input type="text" name="lang" class="form-control" id="lang"
                                       value="{{LANGUAGE_CODE}}">
                            </div>
                        </div>
                        <div class="col-md-9">
                             <p>{% blocktrans with result_num=results.hits|apnumber result_s=results.hits|pluralize %}Found
                                {{result_num}} record{{result_s}}{% endblocktrans %}</p>
                        </div>
                        <div class="col-md-3">
                            <label for="sort-by" class="control-label">{% trans 'Order By' %}</label>
                        </div>
                    </div>
                </form>
            </section>
            <section>
            {% for doc in results.docs %}
            <div class="panel panel-default mrg-tp-sm">
                 <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">{% if LANGUAGE_CODE == 'en' %}
                                <a href="{{od_en_url}}{{doc.id_name_s}}">{{ doc.title_txt_en | safe }}{% else %}
                                <a href="{{od_fr_url}}{{doc.id_name_s}}">{{ doc.title_txt_fr | safe }}{% endif %}</a></h4>
                        </div>
                        <div class="col-sm-2 text-right">
                            <span class="label label-default" style="border-color: #f00; background: #fff">{% if LANGUAGE_CODE == 'fr' %}
                                {{ doc.jurisdiction_fr_s }}{% else %}{{doc.jurisdiction_en_s}}{% endif %}</span>
                        </div>
                        <div class="col-sm-12">
                            <p>{% if LANGUAGE_CODE == 'en' %}{{ doc.description_txt_en | safe }}
                                {% else %}{{ doc.description_txt_fr | safe}}{% endif %}</p>
                            <p><strong>{% trans 'Organization' %}: </strong>{% if LANGUAGE_CODE == 'en' %}
                                {{ doc.owner_org_title_txt_en | safe }}{% else %}{{ doc.owner_org_title_txt_fr | safe }}{% endif %}</p>
                            <p><strong>{% trans 'Formats' %}: </strong>
                                {% for f in doc.resource_format_s %}<span class="badge">{% trans f %}</span> {% endfor %}
                            </p>
                            <p><span class="wb-inv">{% trans 'Key Words' %}: </span>
                                {% if LANGUAGE_CODE == 'fr' %}
                                    {% for y in doc.keywords_txt_fr %}<span class="label label-default">{{y | safe}}</span> {% endfor %}
                                {% else %}
                                    {% for y in doc.keywords_txt_en %}<span class="label label-default">{{y | safe}}</span> {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                     </div>

                </div>
            </div>
            {% endfor %}
                </section>
            {% block main-content-pagination %}
            <section>
                <ul class="pagination">
                    {% for pg in pagination %}
                        {% if pg == 1 %}
                            {% if currentpage == 1 %}
                            <li class="previous disabled"><a href="#" rel="prev">{% trans 'Previous' %}</a></li>
                            {% else %}
                            <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">
                            {% trans 'Previous' %} <span class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                            {% endif %}
                            <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#" onclick="gotoPage('1')">
                                1<span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% elif pg == last_page %}
                            <li{% if currentpage == last_page %} class="active" {% endif %}><a
                                    href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}
                                <span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                            {% if currentpage == last_page %}
                            <li class="next disabled"><a href="#" rel="next">{% trans 'Next' %}</a></li>
                            {% else %}
                            <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">
                                {% trans 'Next' %} <span
                                        class="wb-inv">Go to page {{ next_page }}</span></a></li>
                            {% endif %}
                        {% elif pg == 0 %}
                        <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                        {% else %}
                        <li {% if currentpage == pg %}class="active" {% endif %}>
                            <a href="#" onclick="gotoPage('{{ pg }}')">
                                {{ pg }} <span
                                        class="wb-inv">Go to page {{pg}}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% endblock %}
        {% endblock %}
        </div>
    </div>

</section>
{% endblock %}

{% block custom-jquery %}
<script type="text/javascript">

{% if organizations_selected_list|length > 0 %}

showMore('org-list')
$( document ).ready(function() {
  $('#org-list-morethanless').css( "display", "none" );
});

{% endif %}
{% if keyw_selected_list|length > 0 %}

showMore('key-list')
$( document ).ready(function() {
  $('#key-list-morethanless').css( "display", "none" );
});

{% endif %}
</script>
{% endblock %}
