{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/gc{% endblock language_switch_url %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/gc",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    },{
        "title": "{% trans 'Open Information' %}",
        "href": "{% trans 'https://open.canada.ca/en/open-information' %}",
    },{
        "title": "{% trans 'Proactive Disclosure' %}",
        "href": "{% trans 'https://open.canada.ca/en/proactive-disclosure' %}",
    },{
        "title": "{% trans 'Search Contracts' %}",
        "href": "{% trans '/en/ct/' %}",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Contract " %}{{ ref_number_s }}</h1>
{% endblock main-content-title %}
{% for doc in results.docs %}
{{ doc.id }}
{% endfor %}
{% endblock main-content %}