{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/gc{% endblock language_switch_url %}

{% block page_title %}{{ results.docs.0.vendor_name_txt.0 }} - {% trans 'Contract Details' %} | {% trans 'Open Government' %}
{% endblock page_title %}

{% block meta_tags %}
    <meta name="description" content="{{ results.docs.0.vendor_name_txt.0 }} - {% trans 'Contract Details' %}" />
{% endblock %}


{% block adobe_analytics_meta_title %}
    <meta name="dcterms:title" content="{% trans 'Contract Details' %} ({{ ref_number_s }})" />
{% endblock %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/ct/id/{{ ref_number_s }}",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    },{
        "title": "{% trans 'Open Information' %}",
        "href": "{% trans 'https://open.canada.ca/en/open-information' %}",
    },{
        "title": "{% trans 'Proactive Disclosure' %}",
        "href": "{% trans 'https://open.canada.ca/en/proactive-disclosure' %}",
    },{
        "title": "{% trans 'Search Government Contracts' %}",
        "href": "{% trans '/en/ct/' %}",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Contract Details:" %} {{ results.docs.0.vendor_name_txt.0 }}</h1>
{% endblock %}
    
<div class="panel panel-info">
    <header class="panel-heading">
        <h5 class="panel-title">{% trans 'Contract' %}</h5>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5">{% trans 'Description: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.description_txt_fr }}{% else %}{{ results.docs.0.description_txt_en }}{% endif %}</div>
        </div>
        {% if results.docs.0.comments_txt_en|length > 1 or results.docs.0.comments_txt_fr|length > 1 %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Comments: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.comments_txt_fr }}{% else %}{{ results.docs.0.comments_txt_en }}{% endif %}</div>
        </div>
        {% endif %}
        {% if results.docs.0.additional_comments_txt_en|length > 1 or results.docs.0.additional_comments_txt_fr|length > 1 %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Additional Comments: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.additional_comments_txt_fr }}{% else %}{{ results.docs.0.additional_comments_txt_en }}{% endif %}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Commodity Type: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.commodity_type_fr_s }}{% else %}{{ results.docs.0.commodity_type_en_s }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-sm-5">{% trans 'Organization: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.owner_org_fr_s }}{% else %}{{ results.docs.0.owner_org_en_s }}{% endif %}</div>
        </div>
        {% if not results.docs.0.country_of_origin_fr_s == '-' and not results.docs.0.country_of_origin_en_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Country of Origin: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.country_of_origin_fr_s }}{% else %}{{ results.docs.0.country_of_origin_en_s }}{% endif %}</div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-5">{% trans 'Vendor Name:' %}</div>
            <div class="col-sm-7">{{ results.docs.0.vendor_name_txt.0 }}</div>
        </div>
        {% if not results.docs.0.vendor_postal_code_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Vendor Postal Code:' %}</div>
            <div class="col-sm-7">{{ results.docs.0.vendor_postal_code_s }}</div>
        </div>
        {% endif %}
    </div>
</div>
<div class="panel panel-info">
    <header class="panel-heading">
        <h5 class="panel-title">{% trans 'Date and Value' %}</h5>
    </header>
    <div class="panel-body">
        <div class="row"></div>
        {% if results.docs.0.reporting_period_s|length > 0 %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Reporting Period: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.reporting_period_s }}</div>
        </div>
        {% endif %}
        {% if results.docs.0.contract_year_s|length > 0 %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Contract Date: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.contract_year_s }}</div>
        </div>
        {% endif %}
        {% if not results.docs.0.contract_start_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Start Date: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.contract_start_s | friendly_date_fr }}{% else %}{{ results.docs.0.contract_start_s | friendly_date_en }}{% endif %}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Delivery Date: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.contract_delivery_s | friendly_date_fr }}{% else %}{{ results.docs.0.contract_delivery_s | friendly_date_en }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-sm-5">{% trans 'Contract Value: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.contract_value_fr_s }}{% else %}{{ results.docs.0.contract_value_en_s }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-sm-5">{% trans 'Original Value: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.original_value_fr_s }}{% else %}{{ results.docs.0.original_value_en_s }}{% endif %}</div>
        </div>
        {% if not results.docs.0.amendment_value_en_s == '-' and not results.docs.0.amendment_value_fr_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Amendment Value: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.amendment_value_fr_s }}{% else %}{{ results.docs.0.amendment_value_en_s }}{% endif %}</div>
        </div>
        {% endif %}
    </div>
</div>

<div class="panel panel-info">
    <header class="panel-heading">
        <h5 class="panel-title">{% trans 'Applicable Trade Agreements' %}</h5>
    </header>
    <table class="table">
        {% if LANGUAGE_CODE == 'fr' %}
            {% for agreement in results.docs.0.trade_agreement_txt_fr %}
                <tr style="background-color: {% cycle '#ffffff' '#f5f5f5' %};"><td>{{ agreement }}</td></tr>{% endfor %}
        {% else %}
            {% for agreement in results.docs.0.trade_agreement_txt_en %}
                <tr style="background-color: {% cycle '#ffffff' '#f5f5f5' %};"><td>{{ agreement }}</td></tr>{% endfor %}
        {% endif %}
    </table>
</div>

<div class="panel panel-info">
    <header class="panel-heading">
        <h5 class="panel-title">{% trans 'Additional Details' %}</h5>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5">{% trans 'Procurement Identification Number: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.procurement_id_s }}</div>
        </div>
        {% if not results.docs.0.contracting_entity_en_s == '-' and not results.docs.0.contracting_entity_fr_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Standing Offer: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.contracting_entity_fr_s }}{% else %}{{ results.docs.0.contracting_entity_en_s }}{% endif %}</div>
        </div>
        {% endif %}
        {% if results.docs.0.standing_offer_number_s|length > 0  %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Standing Offer Number: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.standing_offer_number_s }}</div>
        </div>
        {% endif %}
        {% if not results.docs.0.document_type_code_en_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Instrument Type: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.instrument_type_fr_s }}{% else %}{{ results.docs.0.instrument_type_en_s }}{% endif %}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Solicitation Procedure: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.solicitation_procedure_fr_s }}{% else %}{{ results.docs.0.solicitation_procedure_en_s }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-sm-5">{% trans 'Reason for Limited Tendering: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.limited_tendering_reason_txt_fr.0 }}{% else %}{{ results.docs.0.limited_tendering_reason_txt_en.0 }}{% endif %}</div>
        </div>
        {% if not results.docs.0.economic_object_code_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Economic Object Code: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.economic_object_code_s }}</div>
        </div>
        {% endif %}
        {% if results.docs.0.commodity_code_s|length > 1 %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Commodity Code: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.commodity_code_s }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Trade Agreement Exceptions and Exclusions: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.trade_agreement_exceptions_txt_fr.0 }}{% else %}{{ results.docs.0.trade_agreement_exceptions_txt_en.0 }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-sm-5">{% trans 'Aboriginal Business: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.aboriginal_business_fr_s }}{% else %}{{ results.docs.0.aboriginal_business_en_s }}{% endif %}</div>
        </div>
        {% if not results.docs.0.intellectual_property_code_en_s == '-' and not results.docs.0.intellectual_property_code_fr_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Intellectual Property: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.intellectual_property_fr_s }}{% else %}{{ results.docs.0.intellectual_property_en_s }}{% endif %}</div>
        </div>
        {% endif %}
        {% if not results.docs.0.potential_commercial_exploitation_en_s == '-' and not results.docs.0.potential_commercial_exploitation_fr_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Potential Commercial Exploitation: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.potential_commercial_exploitation_fr_s }}{% else %}{{ results.docs.0.potential_commercial_exploitation_en_s }}{% endif %}</div>
        </div>
        {% endif %}
        {% if not results.docs.0.former_public_servant_en_s == '-' and not results.docs.0.former_public_servant_fr_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Former Public Servant: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.former_public_servant_fr_s }}{% else %}{{ results.docs.0.former_public_servant_en_s }}{% endif %}</div>
        </div>
        {% endif %}
        {% if not results.docs.0.ministers_office_en_s == '-' and not results.docs.0.ministers_office_fr_s == '-' %}
        <div class="row">
            <div class="col-sm-5">{% trans 'Ministers Office Contracts: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.ministers_office_fr_s }}{% else %}{{ results.docs.0.ministers_office_en_s }}{% endif %}</div>
        </div>
        {% endif %}
        {% if not results.docs.0.number_of_bids_s %}
         <div class="row">
            <div class="col-sm-5">{% trans 'Number of Bids: ' %}</div>
            <div class="col-sm-7">{{ results.docs.0.number_of_bids_s }}</div>
        </div>
        {% endif %}
         <div class="row">
            <div class="col-sm-5">{% trans 'Article 6 Exceptions: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.article_6_exceptions_fr_s }}{% else %}{{ results.docs.0.article_6_exceptions_en_s }}{% endif %}</div>
        </div>
         <div class="row">
            <div class="col-sm-5">{% trans 'Award Criteria: ' %}</div>
            <div class="col-sm-7">{% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.award_criteria_fr_s }}{% else %}{{ results.docs.0.award_criteria_en_s }}{% endif %}</div>
        </div>
    </div>
</div>

{% endblock main-content %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
"footerSections": [{
    "href": "{% trans 'https://open.canada.ca/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
},{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
}],
"showFeatures": false
{% endblock %}