{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/gc{% endblock language_switch_url %}

{% block adobe_analytics_meta_title %}
    <meta name="dcterms:title" content="{% trans 'Question Period Note Details' %} ({{ reference_number_s }})" />
{% endblock %}

{% block top-settings %}
    "lngLinks": [{
        "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
        "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/qp/id/{{ reference_number_s }}",
        "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    },{
        "title": "{% trans 'Open Information' %}",
        "href": "{% trans 'https://open.canada.ca/en/open-information' %}",
    },{
        "title": "{% trans 'Proactive Disclosure' %}",
        "href": "{% trans 'https://open.canada.ca/en/proactive-disclosure' %}",
    },{
        "title": "{% trans 'Search Question Period Notes' %}",
        "href": "/{{ LANGUAGE_CODE }}/qp/",
    }]
{% endblock %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans "Question Period Note Details" %} - {% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.title_fr_txt | safe }}
        {% else %}{{ results.docs.0.title_en_txt | safe }}
        {% endif %}
</h1>
{% endblock %}

    <section class="panel panel-info mrgn-tp-lg">
        <header class="panel-heading">
            <h2 class="panel-title">{% trans 'About' %}</h2>
        </header>
        <div class="panel-body">
            <dl>
                <div class="row">
                    <dt><div class="col-sm-3"><strong>{% trans 'Reference number: ' %}</strong></div></dt>
                    <dd><div class="col-sm-9">{{ results.docs.0.reference_number_s | safe }}</div></dd>
                </div>
                <div class="row brdr-tp">
                    <dt><div class="col-sm-3"><strong>{% trans 'Date received: ' %}</strong></div></dt>
                    <dd><div class="col-sm-9">{{ results.docs.0.date_received_dt|slice:"0:10" | safe }}</div></dd>
                </div>
                <div class="row brdr-tp">
                    <dt><div class="col-sm-3"><strong>{% trans 'Organization: ' %}</strong></div></dt>
                    <dd><div class="col-sm-9">
                        {% if LANGUAGE_CODE == 'fr' %}
                            {{ results.docs.0.owner_org_title_txt_fr | safe }}
                        {% else %}
                            {{ results.docs.0.owner_org_title_txt_en | safe }}
                        {% endif %}
                    </div></dd>
                </div>
                {% if results.docs.0.minister_s %}
                    <div class="row brdr-tp">
                        <dt><div class="col-sm-3"><strong>{% trans 'Name of Minister: ' %}</strong></div></dt>
                        <dd><div class="col-sm-9">
                            {% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.minister_fr_txt }}
                                {% for position in results.docs.0.minister_position_fr_txt %}<div class="mrgn-lft-lg">{{ position | safe }}</div>{% endfor %}
                            {% else %}{{ results.docs.0.minister_en_txt }}
                                {% for position in results.docs.0.minister_position_en_txt %}<div class="mrgn-lft-lg">{{ position | safe }}</div>{% endfor %}
                            {% endif %}
                        </div></dd>
                    </div>
                {% else %}
                    <div class="row brdr-tp">
                        <dt><div class="col-sm-3"><strong>{% trans 'Ministry: ' %}</strong></div></dt>
                        <dd><div class="col-sm-9">
                            {% if LANGUAGE_CODE == 'fr' %}
                                {{ results.docs.0.minister_position_fr_s.0 | safe }}
                            {% else %}
                                {{ results.docs.0.minister_position_en_s.0 | safe }}
                            {% endif %}
                        </div></dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    </section>

    <h2>{% trans 'Title: ' %}</h2>
    <div>
        {% if LANGUAGE_CODE == 'fr' %}{{ results.docs.0.title_fr_txt | safe }}
        {% else %}{{ results.docs.0.title_en_txt | safe }}
        {% endif %}
    </div>

    {% if LANGUAGE_CODE == 'fr' %}
        {% if results.docs.0.question_fr_txt != '-' %}
            <h2>{% trans 'Issue/Question: ' %}</h2>
            <div>{{ results.docs.0.question_fr_txt | markdown_filter | normalize_headings | safe }}</div>
        {% endif %}
    {% else %}
        {% if results.docs.0.question_en_txt != '-' %}
            <h2>{% trans 'Issue/Question: ' %}</h2>
            <div>{{ results.docs.0.question_en_txt | markdown_filter | normalize_headings | safe }}</div>
        {% endif %}
    {% endif %}

    {% if LANGUAGE_CODE == 'fr' %}
        {% if results.docs.0.response_fr_txt != '-' %}
            <h2>{% trans 'Suggested Response: ' %}</h2>
            <div>{{ results.docs.0.response_fr_txt  | markdown_filter | normalize_headings | safe }}</div>
        {% endif %}
    {% else %}
        {% if results.docs.0.response_en_txt != '-' %}
            <h2>{% trans 'Suggested Response: ' %}</h2>
            <div>{{ results.docs.0.response_en_txt | markdown_filter | normalize_headings | safe }}</div>
        {% endif %}
    {% endif %}

    {% if LANGUAGE_CODE == 'fr' %}
        {% if results.docs.0.background_fr_txt != '-' %}
            <h2>{% trans 'Background: ' %}</h2>
            <div>{{ results.docs.0.background_fr_txt | markdown_filter | normalize_headings | safe }}</div>
        {% endif %}
    {% else %}
        {% if results.docs.0.background_en_txt != '-' %}
            <h2>{% trans 'Background: ' %}</h2>
            <div>{{ results.docs.0.background_en_txt | markdown_filter | normalize_headings | safe }}</div>
        {% endif %}
    {% endif %}

    {% if LANGUAGE_CODE == 'fr' %}
        {% if results.docs.0.additional_information_fr_txt != '-' %}
            <h2>{% trans 'Additional Information: ' %}</h2>
            <div>{{ results.docs.0.additional_information_fr_txt | markdown_filter | normalize_headings | safe }}</div>
        {%  endif %}
    {% else %}
        {% if results.docs.0.additional_information_en_txt != '-' %}
            <h2>{% trans 'Additional Information: ' %}</h2>
            <div>{{ results.docs.0.additional_information_en_txt | markdown_filter | normalize_headings | safe }}</div>
        {%  endif %}
    {% endif %}
    
    <p class="mrgn-tp-lg mrgn-bttm-xl"><a class="btn btn-primary" href="{{ back_url }}"><span class="glyphicon glyphicon-circle-arrow-left mrgn-rght-md"></span>{% trans 'Back to Search' %}</a></p>

{% endblock main-content %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
"footerSections": [{
    "href": "{% trans 'https://open.canada.ca/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
},{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
},{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
}],
"showFeatures": false
{% endblock %}