{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}
{% load ati_extras %}

{% block canada_ca_search %}{% endblock canada_ca_search %}
{% block language_switch_url %}/ati?lang={{ LANGUAGE_CODE | SwapLangCode }}{% endblock language_switch_url %}

{% block main-content %}
{% block main-content-title %}
<h1 property="name" id="wb-cont">{% trans 'Access to Information Request' %}</h1>
{% endblock %}
<div class="row">
    <div class="col-md-2"><strong>{% trans 'Request Number' %}</strong></div><div class="col-md-10">{{ request_number }}</div>
</div><div class="row">
    <div class="col-md-2"><strong>{% trans 'Date' %}</strong></div>
    <div class="col-md-10">{% if LANGUAGE_CODE == 'fr' %}{{ month_fr }}{% else %}{{ month_en }}{% endif %} {{ year }}</div>
</div><div class="row">
    <div class="col-md-2"><strong>{% trans 'Summary' %}</strong></div>
    <div class="col-md-10">{% if LANGUAGE_CODE == 'fr' %}{{ summary_fr }}{% else %}{{ summary_en }}{% endif %}</div>
</div><div class="row">
    <div class="col-md-2"><strong>{% trans 'Organization' %}</strong></div>
    <div class="col-md-10">{% if LANGUAGE_CODE == 'fr' %}{{ owner_org_fr }}{% else %}{{ owner_org_en }}{% endif %}</div>
</div><div class="row">
    <div class="col-md-2"><strong>{% trans 'Disposition' %}</strong></div>
    <div class="col-md-10">{% if LANGUAGE_CODE == 'fr' %}{{ disposition_fr }}{% else %}{{ disposition_en }}{% endif %}, {{ pages }} pages</div>
</div>

{% endblock %}
