{% extends "base-cdts.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load search_extras %}

{% block canada_ca_search %} {% endblock canada_ca_search %}
{% block language_switch_url %}/{{ LANGUAGE_CODE | SwapLangCode }}/si{% endblock language_switch_url %}

{% block adobe_analytics_meta_title %}
    <meta name="dcterms:title" content="{% trans 'Search National Action Plan on Open Government Tracker' %}" />
{% endblock %}

{% block custom_page_javascript %}
    <script src="{% static 'nap/facets.js' %}"></script>
    <script src="{% static 'open_data/od_search.js' %}"></script>
{% endblock custom_page_javascript %}

{% block top-settings %}
    "lngLinks": [{
    "lang": "{{ LANGUAGE_CODE | SwapLangCode }}",
    "href": "/{{ LANGUAGE_CODE | SwapLangCode }}/nap",
    "text": "{{ LANGUAGE_CODE | SwapLangName }}"
    }],
    search: false,
    "breadcrumbs": [{
        "title": "{% trans 'Home' %}",
        "href": "https://www.canada.ca/{{ LANGUAGE_CODE }}.html",
    },{
        "title": "{% trans 'Open Government' %}",
        "href": "{% trans 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
    },{
        "title": "{% trans 'About Open Government' %}",
        "href": "{% trans 'https://open.canada.ca/en/about-open-government' %}",
    }]
{% endblock %}

{% block main-content %}
    {% block main-content-title %}
        <h1 property="name" id="wb-cont">{% trans "Search National Action Plan on Open Government Tracker" %}</h1>
    {% endblock %}
    <section>
        <p class="gc-byline">{% if request.user.is_authenticated %}
            Logged in as {{ request.user.username }}
        {% endif %}
        </p>
        <div class="row">
            <div class="col-md-8 col-md-push-4">
                {% block main-content-content %}
                    <section>
                        <div class="row">
                            {% autoescape off %}
                                {% for alert in alerts %}
                                    <div class="alert alert-info">{% trans alert %}</div>
                                {% endfor %}
                            {% endautoescape %}
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <p>
                                    {% blocktrans with result_num=results.hits|apnumber result_s=results.hits|pluralize %}Found {{ result_num }} record{{ result_s }}{% endblocktrans %}</p>
                            </div>
                        </div>
                        <form action="{% url 'NAPQuery' %}" id="search_form" method="get" role="form"
                              class="mrgn-bttm-md form-inline">
                            <div class="row">
                                <div class="col-md-7 col-sm-12">
                                    <div class="input-group">
                                        <label for="od-search-input" class="wb-inv">{% trans 'Search' %}</label>
                                        <input type="text" name="od-search-input" class="form-control"
                                               id="od-search-input" size="60"
                                               value="{{ search_text }}" placeholder="{% trans 'Search' %}"
                                               onkeypress="submitFormOnEnter(event)"/>

                                        <span class="input-group-btn">
                                             <label for="od-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                             <button type="button" class="btn btn-primary btn-small form-submit"
                                                     id="od-search-button"
                                                     onclick="submitForm()">{% trans 'Search' %}
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label for="sort-by" class="control-label">{% trans 'Order By' %}</label>
                                        <select class="form-control" name="sort-by" id="sort-by" value="{{ sortby }}"
                                                onchange="submitForm();">
                                            {% if LANGUAGE_CODE == 'fr' %}
                                                <option value="score desc"
                                                        {% if sortby == "score desc" %}selected="selected"{% endif %}
                                                >{% trans 'Best match' %}</option>
                                                <option value="reporting_period_s desc"
                                                        {% if sortby == "reporting_period_s desc" %}selected="selected"{% endif %}
                                                >{% trans 'Reporting Period' %}</option>
                                            {% else %}
                                                <option value="score desc"
                                                        {% if sortby == "score desc" %}selected="selected"{% endif %}
                                                >Best match
                                                </option>
                                                <option value="reporting_period_s desc"
                                                        {% if sortby == "reporting_period_s desc" %}selected="selected"{% endif %}
                                                >{% trans 'Reporting Period' %}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group hidden">
                                    <input type="text" name="page" class="form-control" id="page" value="{{ currentpage }}">
                                </div>
                            </div>
                        </form>
                        <div class="row mrgn-tp-md mrgn-bttm-md">
                            <div class="col-md-12" id="search_terms"></div>
                        </div>
                    </section>
                    <section>
                        {% for doc in results.docs %}

                            <div class="row">

                                <div  class="panel panel-default mrgn-tp-md mrgn-bttm-0">
                                    <div class="panel-body">
                                        <div class="col-sm-10">
                                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">
                                                {% if LANGUAGE_CODE == 'fr' %}
                                                    {{ doc.indicators_fr_s }} - {{ doc.ind_full_text_fr_s }}
                                                {% else %}
                                                    {{ doc.indicators_en_s }} - {{ doc.ind_full_text_en_s }}
                                                {% endif %}
                                            </h4>
                                        </div>
                                        <div class="col-sm-2">
                                            <h4 class="mrgn-tp-0 mrgn-bttm-sm">{{ doc.reporting_period_s }}</h4>
                                        </div>
                                        <div class="col-sm-12">
                                            {% if LANGUAGE_CODE == 'fr' %}

                                                    <strong>{% trans 'Milestone' %}</strong>: <a
                                                        href="{{ oc_fr_url }}{{ doc.commitment_nap_url_fr_s }}"
                                                >{{ doc.milestones_fr_s }} - {{ doc.milestone_full_text_fr_s }}</a><br>
                                                    <strong>{% trans 'Commitment' %}</strong>: <a
                                                        href="{{ oc_fr_url }}{{ doc.commitment_nap_url_fr_s }}"
                                                >{{ doc.commitments_fr_s }}</a><br>
                                                    <strong>{% trans 'Lead Organization' %}</strong>: {{ doc.owner_org_title_txt_fr }}<br>
                                                    <strong>{% trans 'Status' %}</strong>: {{ doc.status_fr_s | nap_status | safe }}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a href="{{ oc_fr_url }}{{ doc.cmt_url_fr_s }}" class="btn btn-sm btn-default">
                                                        <span class="fa fa-comment"></span> {% trans 'Comment' %}
                                                    </a>
                                                    <details class="mrgn-tp-sm">
                                                        <summary>{% trans 'Progress Summary' %}</summary>
                                                        <p>
                                                        {{ doc.progress_txt_fr | safe | urlize }}<br>
                                                        {{ doc.evidence_txt_fr| safe  | urlize }}<br>
                                                        {{ doc.challenges_txt_fr | safe | urlize }}
                                                        </p>
                                                    </details>
                                            {% else %}
                                                    <strong>{% trans 'Milestone' %}</strong>: <a
                                                        href="{{ oc_en_url }}{{ doc.commitment_nap_url_en_s }}"
                                                >{{ doc.milestones_en_s }} - {{ doc.milestone_full_text_en_s }}</a><br>
                                                    <strong>{% trans 'Commitment' %}</strong>: <a
                                                        href="{{ oc_en_url }}{{ doc.commitment_nap_url_en_s | safe }}"
                                                >{{ doc.commitments_en_s }}</a><br>
                                                    <strong>Lead Organization</strong>: {{ doc.owner_org_title_txt_en }}<br>
                                                    <strong>Status</strong>: {{ doc.status_en_s | nap_status | safe }}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a href="{{ oc_en_url }}{{ doc.cmt_url_en_s }}" class="btn btn-xs btn-default">
                                                        <span class="fa fa-comment"></span> Comment
                                                    </a>
                                                    <details class="mrgn-tp-sm">
                                                        <summary>{% trans 'Progress Summary' %}</summary>
                                                        <p>
                                                        {{ doc.progress_txt_en | safe | urlize }}<br>
                                                        {{ doc.evidence_txt_en | safe | urlize }}<br>
                                                        {{ doc.challenges_txt_en | safe | urlize }}
                                                        </p>
                                                    </details>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </section>
                    {% block main-content-pagination %}
                        <section>
                            <ul class="pagination">
                                {% for pg in pagination %}
                                    {% if pg == 1 %}
                                        {% if currentpage == 1 %}
                                            <li class="previous disabled"><a href="#"
                                                                             rel="prev">{% trans 'Previous' %}</a></li>
                                        {% else %}
                                            <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">
                                                {% trans 'Previous' %} <span
                                                    class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                                        {% endif %}
                                        <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#"
                                                                                                   onclick="gotoPage('1')">
                                            1<span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                                    {% elif pg == last_page %}
                                        <li{% if currentpage == last_page %} class="active" {% endif %}><a
                                                href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}
                                            <span class="wb-inv">(current) {% trans 'Go to' %} 1 </span></a></li>
                                        {% if currentpage == last_page %}
                                            <li class="next disabled"><a href="#" rel="next">{% trans 'Next' %}</a></li>
                                        {% else %}
                                            <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">
                                                {% trans 'Next' %} <span
                                                    class="wb-inv">Go to page {{ next_page }}</span></a></li>
                                        {% endif %}
                                    {% elif pg == 0 %}
                                        <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                                    {% else %}
                                        <li {% if currentpage == pg %}class="active" {% endif %}>
                                            <a href="#" onclick="gotoPage('{{ pg }}')">
                                                {{ pg }} <span
                                                    class="wb-inv">Go to page {{ pg }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </section>
                    {% endblock %}
                {% endblock %}
            </div>
            <div class="col-md-4 col-md-pull-8">
                {% block main-content-sidebar %}
                    <aside class="mrgn-tp-lg">
                        <div class="btn-block">
                            <div>
                                <a onclick="clear_facets();" href="#"
                                   class="btn btn-default mrgn-bttm-md btn-block"><span
                                        class="glyphicon glyphicon-refresh"></span> {% trans 'Clear all choices' %}</a>
                            </div>

                            {#% if export_terms != "" %#}
                            {# <div> #}
                            {#     <a onclick="" href="{{ export_url }}" #}
                            {#        class="btn btn-default mrgn-bttm-md btn-block{% if results.hits < 1 %} disabled{% endif %}"> #}
                            {#         <span class="glyphicon glyphicon-download-alt"></span> {% trans 'Download Results' %}</a> #}
                            {# </div> #}
                            {#% endif %#}


                        </div>
                        <div class="list-group">
                            {% if LANGUAGE_CODE == 'fr' %}
                                <a href="{{ od_fr_url }}/{{ nap_ds_id }}"
                                   class="list-group-item list-group-item-info text-center">{{ nap_ds_title_fr }}</a>
                            {% else %}
                                <a href="{{ od_en_url }}/{{ nap_ds_id }}"
                                   class="list-group-item list-group-item-info text-center">{{ nap_ds_title_en }}</a>
                            {% endif %}
                        </div>
                    </aside>
                    <aside>

                        {# Commitments Facet #}
                        <div>
                            <details class="panel panel-default mrgn-bttm-0"
                                     {% if commitments_selected|length > 0 %}open{% endif %}>
                                <summary class="panel-heading">
                                    <h5 class="panel-title">{% trans 'Commitments' %}</h5>
                                </summary>
                                <ul class="list-group" id="commitments-list">

                                    {% if LANGUAGE_CODE == 'fr' %}

                                        {% for k, v in commitment_facets_fr.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in commitments_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in commitments_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-commitment')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for k, v in commitment_facets_en.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in commitments_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in commitments_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-commitment')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if LANGUAGE_CODE == 'fr' %}{{ commitment_facets_fr | EmptyFacetMessage }}{% else %}
                                        {{ commitment_facets_en | EmptyFacetMessage }}{% endif %}
                                </ul>
                            </details>

                        {# Milestones Facet #}
                        <div>
                            <details class="panel panel-default mrgn-bttm-0"
                                     {% if milestone_selected|length > 0 %}open{% endif %}>
                                <summary class="panel-heading">
                                    <h5 class="panel-title">{% trans 'Milestones' %}</h5>
                                </summary>
                                <ul class="list-group" id="commitments-list">

                                    {% if LANGUAGE_CODE == 'fr' %}

                                        {% for k, v in milestone_facets_fr.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in milestone_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in milestone_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-milestone')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for k, v in milestone_facets_en.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in milestone_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in milestone_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-milestone')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if LANGUAGE_CODE == 'fr' %}{{ milestone_facets_fr | EmptyFacetMessage }}{% else %}
                                        {{ milestone_facets_en | EmptyFacetMessage }}{% endif %}
                                </ul>
                            </details>

                        {# Status Facet #}
                        <div>
                            <details class="panel panel-default mrgn-bttm-0"
                                     {% if statuses_selected|length > 0 %}open{% endif %}>
                                <summary class="panel-heading">
                                    <h5 class="panel-title">{% trans 'Status' %}</h5>
                                </summary>
                                <ul class="list-group" id="status-list">

                                    {% if LANGUAGE_CODE == 'fr' %}

                                        {% for k, v in status_facets_fr.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in statuses_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in statuses_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-status')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for k, v in status_facets_en.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in statuses_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in statuses_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-status')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if LANGUAGE_CODE == 'fr' %}{{ status_facets_fr | EmptyFacetMessage }}{% else %}
                                        {{ status_facets_en | EmptyFacetMessage }}{% endif %}
                                </ul>
                            </details>

                        {# Reporting Period Facet #}

                        <details class="panel panel-default mrgn-bttm-0"
                                 {% if periods_selected|length > 0 %}open{% endif %}>
                            <summary class="panel-heading">
                                <h5 class="panel-title">{% trans 'Reporting Period' %}</h5>
                            </summary>
                            <ul class="list-group" id="periods-list">
                                {% for k, v in reporting_periods_facets.items %}
                                    {% if v > 0 %}
                                        <li class="list-group-item{% if k in periods_selected_list %} active{% endif %}">
                                            <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                <label><input type="checkbox"
                                                        {% if k in periods_selected_list %} checked="checked"{% endif %}
                                                              onclick="select_facet('{{ k }}', 'ap-reporting-period')"
                                                              style="vertical-align:middle;position:relative;top:-1px;"
                                                              value="{{ k }}"
                                                > {{ k }} ({{ v }})</label></div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {{ reporting_periods_facets | EmptyFacetMessage }}
                            </ul>
                        </details>

                        {# Organizations Facet #}
                        <div>
                            <details class="panel panel-default mrgn-bttm-0"
                                     {% if organizations_selected|length > 0 %}open{% endif %}>
                                <summary class="panel-heading">
                                    <h5 class="panel-title">{% trans 'Organization' %}</h5>
                                </summary>
                                <ul class="list-group" id="org-list">

                                    {% if LANGUAGE_CODE == 'fr' %}

                                        {% for k, v in org_facets_fr.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in organizations_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-search-orgs')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for k, v in org_facets_en.items %}
                                            {% if v > 0 %}
                                                <li class="list-group-item {% if k in organizations_selected_list %} active{% endif %}">
                                                    <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                        <label><input type="checkbox"
                                                                {% if k in organizations_selected_list %}
                                                                      checked="checked"{% endif %}
                                                                      onclick="select_facet('{{ k }}', 'ap-search-orgs')"
                                                                      value="{{ k }}"
                                                                      style="vertical-align:middle;position:relative;top:-1px;"> {{ k }}
                                                            ({{ v }})</label></div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if LANGUAGE_CODE == 'fr' %}{{ org_facets_fr | EmptyFacetMessage }}{% else %}
                                        {{ org_facets_en | EmptyFacetMessage }}{% endif %}
                                </ul>
                            </details>

                            {# Due Date Facet #}

                            <details class="panel panel-default mrgn-bttm-0"
                                     {% if due_dates_selected|length > 0 %}open{% endif %}>
                                <summary class="panel-heading">
                                    <h5 class="panel-title">{% trans 'Due Date' %}</h5>
                                </summary>
                                <ul class="list-group" id="periods-list">
                                    {% for k, v in due_date_facets_en.items %}
                                        {% if v > 0 %}
                                            <li class="list-group-item{% if k in due_dates_selected_list %} active{% endif %}">
                                                <div class="checkbox mrgn-tp-0 mrgn-bttm-0 h6">
                                                    <label><input type="checkbox"
                                                            {% if k in due_dates_selected_list %} checked="checked"{% endif %}
                                                                  onclick="select_facet('{{ k }}', 'ap-due-date')"
                                                                  style="vertical-align:middle;position:relative;top:-1px;"
                                                                  value="{{ k }}"
                                                    > {{ k }} ({{ v }})</label></div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {{ due_date_facets_en | EmptyFacetMessage }}
                                </ul>
                            </details>

                        </div>
                    </aside>
                {% endblock %}
            </div>

        </div>

    </section>
{% endblock %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
    "footerSections": [{
    "href": "{% trans 'https://open.canada.ca/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
    },{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
    }],
    "showFeatures": false
{% endblock %}
{% block custom-jquery %}
<script src="{% static 'open_data/od_facet_buttons.js' %}"></script>
{% endblock %}
